<tr>
  <td><%= expense.expenses_category.name if expense.expenses_category.present? %></td>
  <td><%= date_format_1 expense.date %></td>
  <td><%= expense.amount %></td>
  <td><%= truncate(expense.note, length: 60) %></td>
  <td>
    <%= link_to expenses_expense_path(expense), class: 'btn info-color', remote: true do %>
        <i class="fa fa-eye"> </i>
    <% end %>
    <%= link_to edit_expenses_expense_path(expense), class: 'btn warning-color', remote: true do %>
        <i class="fa fa-pencil"> </i>
    <% end %>
    <%= link_to expenses_expense_path(expense), method: :delete, class: 'btn danger-color', data: {confirm: "Are you sure?"} do %>
        <i class="fa fa-times"> </i>
    <% end %>
  </td>
</tr>