<%= render 'shared/modal_header', title: 'Expense Detail' %>

<div class="modal-body">
  <h4>Category</h4>
  <%= @expense.expenses_category.name %>
  <h4>Amount</h4>
  <%= @expense.amount %>
  <h4>Date</h4>
  <%= date_format_1 @expense.date %>
  <h4>Note</h4>
  <%= @expense.note %>
</div>

<div class="modal-footer clearfix">
  <div class="pull-right">
    <div class='btn btn-default' data-dismiss="modal">Close</div>
  </div>
</div>