<table id="expense" class="table beaccount-table action-table table-responsive table-hover table-striped">
  <thead>
  <tr>
    <th>Category</th>
    <th>Date</th>
    <th>Amount</th>
    <th>Note</th>
    <th></th>
  </tr>
  </thead>
  <tfoot>
  <tr>
    <th colspan="3" style="text-align:right">Total:</th>
  </tr>
  </tfoot>
  <tbody>
  <% @expenses.each do |expense| %>
      <%= render 'expense_row', expense: expense %>
  <% end %>
  </tbody>
</table>

<script type="text/javascript">
    $(document).ready(function() {
      $('#expense').DataTable({
          "bSort": false,
          "paginationType": "bootstrap",
          "pagingType": "full_numbers",
          "sPaginationType": "bootstrap",
          "footerCallback": function ( row, data, start, end, display ) {
              var api = this.api(), data;

              // Remove the formatting to get integer data for summation
              var intVal = function ( i ) {
                  return typeof i === 'string' ?
                  i.replace(/[\$,]/g, '')*1 :
                          typeof i === 'number' ?
                                  i : 0;
              };

              // Total over all pages
              total = api
                      .column( 2 )
                      .data()
                      .reduce( function (a, b) {
                          return intVal(a) + intVal(b);
                      }, 0 );

              // Total over this page
              pageTotal = api
                      .column( 2, { page: 'current'} )
                      .data()
                      .reduce( function (a, b) {
                          return intVal(a) + intVal(b);
                      }, 0 );

              // Update footer
              $( api.column( 2 ).footer() ).html(
                      ''+pageTotal +' ( '+ total +' total)'
              );
          }
      });
  });
</script>