<%= form_for @expense,  html:{ class:'form-vertical', id: 'expense-form'} do |f| %>
    <%= render 'shared/modal_header', title: @expense.new_record? ? 'Add New Expense' : 'Edit Expense' %>
    <div class="modal-body">
      <div class="form-group">
        <%= f.label "Category" %>
        <%= f.select :category_id, options_for_select(@categories.collect{ |category| [category.name, category.id]}, f.object.category_id), {prompt: 'Select Category...'}, {class:'form-control'}  %>
      </div>
      <div class="form-group">
        <%= f.label :amount %>
        <%= f.text_field :amount, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :date %>
        <%= f.text_field :date, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :note %>
        <%= f.text_area :note, class: "form-control" %>
      </div>
    </div>

    <div class="modal-footer clearfix">
      <div class="pull-right">
        <%= f.submit class: 'btn btn-primary' %>
        <div class='btn btn-default' data-dismiss="modal">Close</div>
      </div>
    </div>
<% end %>

<script type="text/javascript">
    $(function () {
        $('#expenses_expense_date').datetimepicker({
            format: 'YYYY-MM-DD'
        });
    });
</script>