<table class="table beaccount-table table-responsive table-hover table-striped">
  <thead>
  <tr>
    <th>Category</th>
    <% (@start_date..@end_date).each do |date| %>
        <th><%= date.day %></th>
    <% end %>
    <th><b>Total</b></th>
  </tr>
  </thead>
  <tbody>
  <% @expense_categories.each do |category| %>
      <tr>
        <td>
          <%= category.name %>
        </td>
        <% (@start_date..@end_date).each do |date| %>
            <td>
              <% if @expense_report[category.id][date.day][:amount] > 0 %>
                  <%= link_to report_breakdown_expenses_expenses_path(category_id: category.id, start_date: date, end_date: date), target: "_blank" do%>
                      <%= @expense_report[category.id][date.day][:amount] %>
                  <% end %>
              <% else %>
                  <%= @expense_report[category.id][date.day][:amount] %>
              <% end %>
            </td>
        <% end %>
        <td>
          <b>
            <% if @expense_report[category.id][:total_amount] > 0 %>
                <%= link_to report_breakdown_expenses_expenses_path(category_id: category.id, start_date: @start_date, end_date: @end_date), target: "_blank" do%>
                    <%= @expense_report[category.id][:total_amount] %>
                <% end %>
            <% else %>
                <%= @expense_report[category.id][:total_amount] %>
            <% end %>
          </b>
        </td>
      </tr>
  <% end %>
  <% if @expense_categories.present? %>
      <tr>
        <td><b>Total</b></td>
        <% (@start_date..@end_date).each do |date| %>
            <td>
              <b>
                <% if @expense_report[:month_total][date.day] > 0 %>
                    <%= link_to report_breakdown_expenses_expenses_path(start_date: date, end_date: date), target: "_blank" do%>
                        <%= @expense_report[:month_total][date.day] %>
                    <% end %>
                <% else %>
                    <%= @expense_report[:month_total][date.day] %>
                <% end %>
              </b>
            </td>
        <% end %>
        <td>
          <b>
            <% if  @expense_report[:month_total][:amount] > 0 %>
                <%= link_to report_breakdown_expenses_expenses_path(start_date: @start_date, end_date: @end_date), target: "_blank" do%>
                    <%=  @expense_report[:month_total][:amount] %>
                <% end %>
            <% else %>
                <%=  @expense_report[:month_total][:amount] %>
            <% end %>
          </b>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>