<table class="table beaccount-table table-responsive table-hover table-striped">
  <thead>
  <tr>
    <th>Category</th>
    <% AppSetting::MONTHS_SHORT_NAME.each do |month| %>
        <th><%= month %></th>
    <% end %>
    <th><b>Total</b></th>
  </tr>
  </thead>
  <tbody>
  <% @expense_categories.each do |category| %>
      <tr>
        <td>
          <%= category.name %>
        </td>
        <% (1..12).each do |month| %>
            <td>
              <% if @expense_report[category.id][month][:amount] > 0 %>
                  <%= link_to report_breakdown_expenses_expenses_path(category_id: category.id, start_date: Date.new(@start_date.year, month, 1), end_date: Date.new(@start_date.year, month, 1).end_of_month), target: "_blank" do%>
                      <%= @expense_report[category.id][month][:amount] %>
                  <% end %>
              <% else %>
                  <%= @expense_report[category.id][month][:amount] %>
              <% end %>
            </td>
        <% end %>
        <td>
          <b>
            <% if @expense_report[category.id][:total_amount] > 0 %>
                <%= link_to report_breakdown_expenses_expenses_path(category_id: category.id, start_date: @start_date, end_date: @end_date), target: "_blank" do%>
                    <%= @expense_report[category.id][:total_amount] %>
                <% end %>
            <% else %>
                <%= @expense_report[category.id][:total_amount] %>
            <% end %>
          </b>
        </td>
      </tr>
  <% end %>
  <% if @expense_categories.present? %>
      <tr>
        <td><b>Total</b></td>
        <% (1..12).each do |month| %>
            <td>
              <b>
                <% if @expense_report[:month_total][month] > 0 %>
                    <%= link_to report_breakdown_expenses_expenses_path(start_date: Date.new(@start_date.year, month, 1), end_date: Date.new(@start_date.year, month, 1).end_of_month), target: "_blank" do%>
                        <%= @expense_report[:month_total][month] %>
                    <% end %>
                <% else %>
                    <%= @expense_report[:month_total][month] %>
                <% end %>
              </b>
            </td>
        <% end %>
        <td>
          <b>
            <% if @expense_report[:month_total][:amount] > 0 %>
                <%= link_to report_breakdown_expenses_expenses_path(start_date: @start_date, end_date: @end_date), target: "_blank" do%>
                    <%= @expense_report[:month_total][:amount] %>
                <% end %>
            <% else %>
                <%= @expense_report[:month_total][:amount] %>
            <% end %>
          </b>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>