<div class="row content-body">
  <table id="expense" class="table beaccount-table action-table table-responsive table-hover table-striped">
    <thead>
    <tr>
      <th>Category</th>
      <th>Date</th>
      <th>Amount</th>
      <th>Note</th>
      <th></th>
    </tr>
    </thead>
    <tfoot>
    <tr>
      <th colspan="3" style="text-align:right">Total:</th>
    </tr>
    </tfoot>
    <tbody>
    <% @expenses.each do |expense| %>
        <tr>
          <td><%= expense.expenses_category.name if expense.expenses_category.present? %></td>
          <td><%= date_format_1 expense.date %></td>
          <td><%= expense.amount %></td>
          <td><%= expense.note %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>