<div class="row reset-padding">
  <div class="content-wrapper">
    <div class="header-wrapper">
      <h4>
        Expenses
      </h4>
    </div>
    <div class="content-body-wrapper secondary-color full-content-wrapper">
      <div class="row actions-button">
        <div class="col-md-8 reset-padding">
          <%= form_tag '', method: 'get' do %>
              <div class="col-sm-5">
                <%= text_field_tag :daterange, '', value: params[:daterange], class: 'form-control' %>
              </div>
              <div class="col-sm-5">
                <%= select_tag :cat_id, options_for_select(current_department.expenses_categories.collect{|cat| [cat.name, cat.id]}, params[:cat_id]), {prompt: "Select Expense Category...",class:'form-control custom-chosen'} %>
              </div>
              <div class="col-sm-2"><%= submit_tag 'Search', class: 'btn btn-default' %></div>
          <% end %>
        </div>
        <div class="col-md-4 reset-padding">
          <div class="col-sm-6 pull-right">
            <%= label_tag :export_to, class: 'custom-dropdown' do %>
                <%= select_tag :export_to, options_for_select(['PDF', 'EXCEL']), {prompt: 'Export To', class: 'export-to btn btn-default'} %>
            <% end %>
          </div>
          <div class="col-sm-6">
            <%= link_to new_expenses_expense_path, class: 'btn btn-default pull-right', remote: true do %>
                <i class="fa fa-plus-circle"></i> Add New Expense
            <% end %>
          </div>
        </div>
      </div>
      <div class="row content-body">
        <%= render 'expenses/expenses/expenses_table' %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $('#export_to').change(function () {
        var export_to = $(this).val();
        if (export_to == 'PDF') {
            window.location.href = '<%= expenses_expenses_path('pdf', params) %>'
        }
        else if (export_to == 'EXCEL') {
            window.location.href = '<%= expenses_expenses_path('xls', params) %>'
        }
    });

    var options = {
        showDropdowns: true,
        locale: {
            format: 'YYYY-MM-DD',
            separator: ' To '
        }
    };
    $(function () {
        if (!<%= params[:daterange].present? %>) {
            options.startDate = "<%= Date.today.beginning_of_month %>";
            options.endDate = "<%= Date.today.end_of_month %>";
        }

        $('#daterange').daterangepicker(options).on('apply.daterangepicker', function (ev, picker) {
            $('#daterange-purchase-order-form').submit();
        });
    });
</script>