<div class="row reset-padding">
  <div class="content-wrapper">
    <div class="header-wrapper">
      <h4>
        Monthly Expense Report
      </h4>
    </div>
    <div class="content-body-wrapper secondary-color full-content-wrapper">
      <div class="row actions-button">
        <div class="search-form clearfix">
          <%= form_tag '', method: 'get', id: 'monthly-expense-report-form' do %>
              <%= select_month params[:date].present? ? params[:date][:month].to_i : Date.today, {}, {class: "form-control"} %>
              <%= select_year params[:date].present? ? params[:date][:year].to_i : Date.today, {:start_year => Date.today.year, :end_year => current_department.year}, {class: "form-control"} %>
              <%= submit_tag 'Search', class: 'btn btn-info reset-border-radius' %>
          <% end %>
        </div>
      </div>
      <div class="row report-content-body">
        <div class="col-md-12 reset-padding monthly-expense-report">
          <%= render 'monthly_report_table' %>
        </div>
      </div>
    </div>
  </div>
</div>