<div class="row reset-padding">
  <div class="content-wrapper">
    <div class="header-wrapper">
      <h4>
        Expense Report Breakdown (<%= @start_date == @end_date ? date_format_1(@start_date) : date_format_1(@start_date).to_s + ' To ' + date_format_1(@end_date).to_s %>)
      </h4>
    </div>
    <div class="content-body-wrapper secondary-color full-content-wrapper">
      <div class="row content-body">
        <div class="col-md-12 reset-padding">
          <% if params[:category_id].present? %>
              <h4 class="text-center">Category: <b><%= @expenses.first.expenses_category.name %></b></h4>
          <% end %>
          <%= render 'expenses_table' %>
        </div>
      </div>
    </div>
  </div>
</div>