<%= form_for @product,  html:{id: 'product-form'} do |f| %>
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :category_id, 'Category' %>
        <%= f.select :category_id, options_for_select(@product_categories.collect{ |category| [category.name, category.id]}, f.object.category_id), {:include_blank => "Select Category..."}, {class:'form-control product-category-change'}  %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group product-sub-category">
        <%= f.label :sub_category_id, 'SubCategory' %>
        <% if @product.new_record? %>
            <%= f.select :sub_category_id, '', {prompt: "Select SubCategory..."}, {class:'form-control', id: 'inventory_product_sub_category'}  %>
        <% elsif @product.category.present? %>
            <%= f.select :sub_category_id, options_for_select(@product_sub_categories.collect{ |category| [category.name, category.id]}, f.object.sub_category_id), {:include_blank => "Select Subcategory..."}, {class:'form-control', id: 'inventory_product_sub_category'}  %>
        <% end %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :name, class: 'control-label', for: 'name' %>
        <%= f.text_field :name, class: "form-control", id: 'name' %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :code, class: 'control-label', for: 'code' %>
        <%= f.text_field :code, class: "form-control", id: 'code' %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :buying_price, class: 'control-label', for: 'buying_price' %>
        <%= f.text_field :buying_price, class: "form-control", id: 'buying_price' %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :selling_price, class: 'control-label', for: 'selling_price' %>
        <%= f.text_field :selling_price, class: "form-control", id: 'selling_price' %>
      </div>
    </div>

    <% unless @product.new_record? %>
        <% if @is_quantity_editable %>
            <div class="col-md-6">
              <div class="form-group">
                <%= f.label :quantity, class: 'control-label', for: 'quantity' %>
                <%= f.text_field :quantity, class: "form-control", id: 'quantity' %>
              </div>
            </div>
        <% end %>
    <% end %>

    <div class="col-md-12">
      <div class="form-group">
        <%= label_tag 'product_reference' do %>
            <%= f.check_box :is_referenced, {}, true, false %>Referenced Product?
        <% end %>
      </div>
    </div>

    <div class="col-md-12">
      <div class="pull-right">
        <%= f.submit class: 'btn btn-primary' %>
      </div>
    </div>

<% end %>

<script type="text/javascript">
    $(function(){
        $('.product-category-change').change(function(){
            if($(this).val().length > 0) {
                $.ajax({
                    url: "/inventory/product_categories/"+ $(this).val() +"/product_sub_categories",
                    type: 'get',
                    dataType: 'script'
                });
            }
            else {
                $('.product-sub-category').hide();
                $("#inventory_product_sub_category").find('option:gt(0)').remove();
            }
        });

        <% unless @product.new_record? %>
        <% if @product_sub_categories.present? %>
        $('.product-sub-category').show();
        <% end %>
        <% end %>
    });
</script>