<%= render 'shared/modal_header', title: 'Product Detail' %>

<div class="modal-body">
  <h4>Name</h4>
  <%= @product.name %>
  <h4>Code</h4>
  <%= @product.code %>
  <h4>Buying Price</h4>
  <%= @product.buying_price %>
  <h4>Selling Price</h4>
  <%= @product.selling_price %>
  <h4>Quantity</h4>
  <%= @product.quantity %>
</div>

<div class="modal-footer clearfix">
  <div class="pull-right">
    <div class='btn btn-default' data-dismiss="modal">Close</div>
  </div>
</div>