<tr>
  <td><%= product.name %></td>
  <td><%= product.code %></td>
  <td><%= product.category.name if product.category.present? %></td>
  <td><%= product.sub_category.name if product.sub_category.present? %></td>
  <td><%= product.buying_price %></td>
  <td><%= product.quantity %></td>
  <td><%= (product.quantity * product.buying_price).round(2) %></td>
  <td style="width: 100px;">
    <%= link_to inventory_product_path(product), class: 'btn info-color', remote: true do %>
        <i class="fa fa-eye"> </i>
    <% end %>
    <%= link_to edit_inventory_product_path(product), class: 'btn warning-color' do %>
        <i class="fa fa-pencil"> </i>
    <% end %>
    <%= link_to stock_report_inventory_products_path(id: product.id), class: 'btn info-color' do %>
        <i class="fa fa-history"> </i>
    <% end %>
  </td>
</tr>