$("#<%=params[:product_attr_id] %>").parents('.order-item-row').children('.stock-quantity').html(<%= @product.quantity %>)
$("#<%=params[:product_attr_id] %>").parents('.order-item-row').find('.buying-price').val(<%= @product.buying_price %>)