<div class="row reset-padding">
  <div class="content-wrapper">
    <div class="header-wrapper">
      <h4>
        Products
      </h4>
    </div>
    <div class="content-body-wrapper secondary-color full-content-wrapper">
      <div class="row actions-button">
        <%= link_to new_inventory_product_path, class: 'btn btn-default pull-right' do %>
            <i class="fa fa-plus-circle"></i> Add New Product
        <% end %>
        <%= form_tag import_inventory_products_path, multipart: true, class: 'search-form' do %>
            <%= file_field_tag :file, class: 'form-control' %>
            <%= submit_tag "Upload Product", class: 'btn btn-info' %>
        <% end %>
      </div>
      <div class="row content-body">
        <table id="products" class="searchable-table table beaccount-table action-table table-responsive table-hover table-striped">
          <thead>
          <tr>
            <th>Name</th>
            <th>Code</th>
            <th>Category</th>
            <th>Sub Category</th>
            <th>Buying Price</th>
            <th>Quantity</th>
            <th>Stock Balance</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <% @products.each do |product| %>
              <%= render 'product_row', product: product %>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
    $('#products').DataTable({
        "bSort": false,
        "paginationType": "bootstrap",
        "pagingType": "full_numbers",
        "sPaginationType": "bootstrap"
    });
    });
</script>