<div class="row reset-padding">
  <div class="content-wrapper">
    <div class="header-wrapper">
      <h4>
        Stock Report
      </h4>
    </div>
    <div class="content-body-wrapper secondary-color full-content-wrapper">
      <div class="row actions-button">
        <div class="search-form clearfix">
          <%= form_tag '', method: 'get', id: 'stock-report-form' do %>
              <%= select_tag :id, options_for_select(@products.collect{ |product| [product.name, product.id]}, @product.id), {class:'custom-chosen form-control'}  %>
              <%= select_month params[:date].present? ? params[:date][:month].to_i : Date.today, {}, {class: "form-control"} %>
              <%= select_year params[:date].present? ? params[:date][:year].to_i : Date.today, {:start_year => Date.today.year, :end_year => current_department.year}, {class: "form-control"} %>
              <%= submit_tag 'Search', class: 'btn btn-info reset-border-radius' %>
          <% end %>
        </div>
      </div>
      <div class="row content-body">
        <% if @initial_stock.present? %>
            <h4 class="text-center">Initial Stock : <%= @initial_stock %></h4>
            <table class="table beaccount-table table-responsive table-hover table-striped">
              <thead>
              <tr>
                <th>Date</th>
                <th>Product</th>
                <th>Type</th>
                <th>In</th>
                <th>Out</th>
                <th>Final</th>
              </tr>
              </thead>
              <tbody>
              <% @history.each do |hist| %>
                  <tr>
                    <td>
                      <%= date_format_1(hist[:date])  %>
                    </td>
                    <td>
                      <%= hist[:product] %>
                    </td>
                    <td>
                      <%= hist[:type] %>
                    </td>
                    <td>
                      <%= hist[:in] == 0 ? '-' : hist[:in] %>
                      <% @total_in += hist[:in] %>
                    </td>
                    <td>
                      <%= hist[:out] == 0 ? '-' : hist[:out] %>
                      <% @total_out += hist[:out] %>
                    </td>
                    <td>
                      <%= @total_stock = (@total_stock + hist[:in]) - hist[:out] %>
                    </td>
                  </tr>
              <% end %>
              <tr>
                <td colspan="2"></td>
                <td><b>Total</b></td>
                <td><b><%= @total_in %></b></td>
                <td><b><%= @total_out %></b></td>
                <td><b><%= @total_stock %></b></td>
              </tr>
              </tbody>
            </table>
        <% else %>
        <div>
          <%= @message %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>