<div class="col-md-12 sub-title">
  Buyer Information
</div>
<div class="col-md-12 reset-padding">
  <div class="col-md-4 reset-padding">
    <%= label_tag 'Buyer Name' %>
  </div>
  <div class="col-md-8">:
    <%= current_employee.name %>
  </div>
</div>
<div class="col-md-12 reset-padding">
  <div class="col-md-4 reset-padding">
    <%= label_tag 'Company' %>
  </div>
  <div class="col-md-8">:
    <%= current_department.name %>
  </div>
</div>
<div class="col-md-12 reset-padding">
  <div class="col-md-4 reset-padding">
    <%= label_tag 'Address' %>
  </div>
  <div class="col-md-8">:
    <%= current_employee.address %>
  </div>
</div>
<div class="col-md-12 reset-padding">
  <div class="col-md-4 reset-padding">
    <%= label_tag 'Phone' %>
  </div>
  <div class="col-md-8">:
    <%= current_employee.phone %>
  </div>
</div>
<div class="col-md-12 reset-padding">
  <div class="col-md-4 reset-padding">
    <%= label_tag 'Email' %>
  </div>
  <div class="col-md-8">:
    <%= current_employee.email %>
  </div>
</div>