<%= form_for @order,  html:{id: 'customer-order-form'} do |f| %>
    <div class="col-md-12 reset-padding">

      <div class="col-md-5 reset-padding mb15">
        <div class="col-md-12 sub-title mb0">Date</div>
        <div class="col-md-12 reset-padding">
          <%= f.text_field :date, value: Date.today, class: "form-control reset-border-redius", placeholder: 'Select date' %>
        </div>
      </div>


      <div class="col-md-12 reset-padding">
        <div class="col-md-5 reset-padding">
          <%= render 'inventory/parties/party_summary', f: f %>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5 reset-padding">
          <%= render 'inventory/shared/buyer_summary' %>
        </div>
      </div>



      <%= render 'products', f: f %>



      <div class="col-md-12 reset-padding mt20">
        <div class="col-md-5 reset-padding">
          <%= f.label :note %>
          <%= f.text_area :note, class: "form-control note-height" %>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5 reset-padding">
          <div class="col-md-12 reset-padding">
            <div class="col-md-4 reset-padding">
              <%= f.label :price, 'Sub Total' %>
            </div>
            <div class="col-md-8 reset-padding">
              <%= f.text_field :price, class: "form-control subtotal" %>
            </div>
          </div>

          <div class="col-md-12 reset-padding mt5">
            <div class="col-md-4 reset-padding">
              <%= f.label :vat %>
            </div>
            <div class="col-md-8 reset-padding">
              <%= f.text_field :vat, class: "form-control vat" %>
            </div>
          </div>

          <div class="col-md-12 reset-padding mt5">
            <div class="col-md-4 reset-padding">
              <%= f.label :total %>
            </div>
            <div class="col-md-8 reset-padding">
              <%= f.text_field :total, class: "form-control total_price" %>
            </div>
          </div>
        </div>
      </div>
      <%= render 'payments', f: f %>
    </div>

    <div class="pull-right mt20">
      <%= f.submit class: 'btn btn-primary' %>
    </div>

<% end %>

<script type="text/javascript">
    $(function () {
        $('#inventory_customers_order_date').datetimepicker({
            format: 'YYYY-MM-DD'
        });
    });
</script>