<tr class="order-item-row">
  <td>
    <%= ff.select :product_id, options_for_select(Inventory::Product.all.collect{|product| [product.name, product.id]}, ff.object.product_id), {prompt: "Select Product..."}, {class:'form-control custom-chosen product-item'} %>
  </td>
  <td class="stock-quantity" style="text-align: center;">

  </td>
  <td>
    <%= ff.text_field :quantity, class: "form-control reset-border-redius quantity" %>
  </td>
  <td>
    <%= ff.text_field :description, class: "form-control reset-border-redius" %>
  </td>
  <td>
    <%= ff.text_field :selling_price, class: "form-control reset-border-redius unit-price" %>
  </td>
  <td>
    <%= ff.text_field :total, class: "form-control reset-border-redius total-price" %>
  </td>
  <td>
    <% if ff.object.persisted? %>
        <%= ff.check_box :_destroy %>
        <%= ff.label :_destroy, "Remove" %>
    <% else %>
        <%= link_to '#', id: 'remove-product-form' do %>
            <i class="fa fa-times danger-color"></i>
        <% end %>
    <% end %>
  </td>
</tr>

<script type="text/javascript">
    $(document).off('change', '.product-item').on('change', '.product-item', function () {
        $.ajax({
            url: '/inventory/products/' + $(this).val() +'/get_details',
            type: 'get',
            dataType: 'script',
            data: {product_attr_id: $(this).attr('id')}
        });
    });

    $(document).off('keyup', '.unit-price').on('keyup', '.unit-price', function () {
        var current = $(this).parents('.order-item-row')
        calculate_total(current);
    });

    $(document).off('keyup', '.quantity').on('keyup', '.quantity', function () {
        var current = $(this).parents('.order-item-row')
        calculate_total(current);
    });

    $(document).off('keyup', '.total-price').on('keyup', '.total-price', function () {
        var current = $(this).parents('.order-item-row')
        calculate_unit_price(current);
    });

    function calculate_unit_price(current) {
        var  quantity = current.find('.quantity').val();
        var  total = current.find('.total-price').val();
        if (quantity == null)
        {
            quantity = 0;
        }
        if (total == null)
        {
            total = 0;
        }
        var  unit_price = total / quantity;
        current.find('.unit-price').val(unit_price);
        var sub_total = 0;
        $('.total-price').each(function() {
            var each_total_price = $(this).val();
            if (each_total_price == '') {
                each_total_price = 0;
            }
            sub_total = parseFloat(sub_total) + parseFloat(each_total_price);
        });
        $('.subtotal').val(sub_total);
        reset_total(sub_total, $('.vat').val());
    }

    function calculate_total(current){
        var  quantity = current.find('.quantity').val();
        var  unit_price = current.find('.unit-price').val();
        if (quantity == null)
        {
            quantity = 0;
        }

        if (unit_price == null)
        {
            unit_price = 0;
        }
        var  total_price = quantity * unit_price;
        current.find('.total-price').val(total_price);
        var sub_total = 0;
        $('.total-price').each(function() {
            var each_total_price = $(this).val();
            if (each_total_price == '') {
                each_total_price = 0;
            }
            sub_total = parseFloat(sub_total) + parseFloat(each_total_price);
        });
        $('.subtotal').val(sub_total);
        reset_total(sub_total, $('.vat').val());
    }
    $(document).off('keyup', '.vat').on('keyup', '.vat', function () {
        reset_total($('.subtotal').val(), $(this).val());
    });

    $(document).off('click', '#remove-product-form').on('click', '#remove-product-form', function () {
        var productItem = $(this).parents('.order-item-row');
        var total_price = productItem.find('.total-price').val();
        if (total_price == '') {
            total_price = 0;
        }
        var sub_total = $('.subtotal').val();
        if (sub_total == '') {
            sub_total = 0;
        }

        $('.subtotal').val(sub_total - total_price);

        productItem.remove();

        reset_total(sub_total - total_price, $('.vat').val());

        if ($(".purchase-order-products").find("tbody").find("tr").size() <= 0) {
            $('.no-data').html("<%= escape_javascript( render 'shared/no_data_found', message: 'No Product To Order').html_safe %>");
        }
        return false;
    });

    function reset_total(sub_total, vat){
        if (sub_total == '')
        {
            sub_total = 0;
        }
        if (vat == '')
        {
            vat = 0;
        }
        $('.total_price').val(parseFloat(sub_total) + parseFloat(vat))
    }
</script>