<div class="row content-body">
  <table id="sales-order" class="table beaccount-table action-table table-responsive table-hover table-striped searchable-table">
    <thead>
    <tr>
      <th>Party</th>
      <th>Order Date</th>
      <th>Amount</th>
      <th></th>
    </tr>
    </thead>
    <tfoot>
    <tr>
      <th colspan="2" style="text-align:right">Total:</th>
      <th><%= @orders.sum(:total) %></th>
    </tr>
    </tfoot>
    <tbody>
    <% @orders.each do |order| %>
        <tr>
          <td><%= order.party.name if order.party.present? %></td>
          <td><%= date_format_1 order.date %></td>
          <td><%= order.total %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>