<div class="row content-body">
  <table id="sales-order" class="table beaccount-table action-table table-responsive table-hover table-striped searchable-table">
    <thead>
    <tr>
      <th>Party</th>
      <th>Order Date</th>
      <th>Amount</th>
      <th></th>
    </tr>
    </thead>
    <tfoot>
    <tr>
      <th colspan="2" style="text-align:right">Total:</th>
      <th><%= @orders.sum(:total) %></th>
    </tr>
    </tfoot>
    <tbody>
    <% @orders.each do |order| %>
        <%= render 'order_row', order: order %>
    <% end %>
    </tbody>
  </table>
</div>