<tr>
  <td><%= customer.name %></td>
  <td><%= customer.company %></td>
  <td><%= customer.city %></td>
  <td><%= customer.phone %></td>
  <td>
    <%= link_to inventory_customers_customer_path(customer), class: 'btn info-color', remote: true do %>
        <i class="fa fa-eye"> </i>
    <% end %>
    <%= link_to edit_inventory_customers_customer_path(customer), class: 'btn warning-color', remote: true do %>
        <i class="fa fa-pencil"> </i>
    <% end %>
    <%= link_to inventory_customers_customer_path(customer), method: :delete, class: 'btn danger-color', data: {confirm: "Are you sure?"} do %>
        <i class="fa fa-times"> </i>
    <% end %>
  </td>
</tr>