<%= render 'shared/modal_header', title: 'Customer Detail' %>

<div class="modal-body">
  <h4>Name</h4>
  <%= @customer.name %>
  <h4>Company</h4>
  <%= @customer.company %>
  <h4>address</h4>
  <%= @customer.address %>
  <h4>City</h4>
  <%= @customer.city %>
  <h4>Email</h4>
  <%= @customer.email %>
  <h4>Phone</h4>
  <%= @customer.phone %>
  <h4>Note</h4>
  <%= @customer.note %>
</div>

<div class="modal-footer clearfix">
  <div class="pull-right">
    <div class='btn btn-default' data-dismiss="modal">Close</div>
  </div>
</div>