<%= form_for @customer,  html:{ class:'form-vertical', id: 'supplier-form'} do |f| %>
    <%= render 'shared/modal_header', title: @customer.new_record? ? 'Add New Customer' : 'Edit Customer' %>

    <div class="modal-body">
      <div class="form-group">
        <%= f.label :name, class: 'control-label', for: 'name' %>
        <%= f.text_field :name, class: "form-control", id: 'name' %>
      </div>
      <div class="form-group">
        <%= f.label :company, class: 'control-label', for: 'company' %>
        <%= f.text_field :company, class: "form-control", id: 'company' %>
      </div>
      <div class="form-group">
        <%= f.label :address, class: 'control-label', for: 'address' %>
        <%= f.text_area :address, class: "form-control", id: 'address' %>
      </div>
      <div class="form-group">
        <%= f.label :city, class: 'control-label', for: 'city' %>
        <%= f.text_field :city, class: "form-control", id: 'city' %>
      </div>
      <div class="form-group">
        <%= f.label :email, class: 'control-label', for: 'email' %>
        <%= f.text_field :email, class: "form-control", id: 'email' %>
      </div>
      <div class="form-group">
        <%= f.label :phone, class: 'control-label', for: 'landphone' %>
        <%= f.text_field :phone, class: "form-control", id: 'landphone' %>
      </div>
      <div class="form-group">
        <%= f.label :note, class: 'control-label', for: 'note' %>
        <%= f.text_area :note, class: "form-control", id: 'note' %>
      </div>
    </div>

    <div class="modal-footer clearfix">
      <div class="pull-right">
        <%= f.submit class: 'btn btn-primary' %>
        <div class='btn btn-default' data-dismiss="modal">Close</div>
      </div>
    </div>
<% end %>
