<div class="row reset-padding">
  <div class="content-wrapper">
    <div class="header-wrapper">
      <h4>
        Customers
      </h4>
    </div>
    <div class="content-body-wrapper secondary-color full-content-wrapper">
      <div class="row actions-button">
        <%= link_to new_inventory_customers_customer_path, class: 'btn btn-default pull-right', remote: true do %>
            <i class="fa fa-plus-circle"></i> Add New Customer
        <% end %>
      </div>
      <div class="row content-body">
        <table class="table beaccount-table action-table table-responsive table-hover table-striped">
          <thead>
          <tr>
            <th>Name</th>
            <th>Company</th>
            <th>City</th>
            <th>Phone</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <% @customers.each do |customer| %>
              <%= render 'customer_row', customer: customer %>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>