<tr>
  <td><%= employee.name %></td>
  <td><%= employee.email %></td>
  <td><%= employee.address %></td>
  <td>
    <%= link_to 'change password', change_password_employee_path(employee) %>
    <%= link_to employee_path(employee), class: 'btn info-color', remote: true do %>
        <i class="fa fa-eye"> </i>
    <% end %>
    <%= link_to edit_employee_path(employee), class: 'btn warning-color' do %>
        <i class="fa fa-pencil"> </i>
    <% end %>
    <%= link_to employee_path(employee), method: :delete, class: 'btn danger-color', data: {confirm: "Are you sure?"} do %>
        <i class="fa fa-times"> </i>
    <% end %>
  </td>
</tr>