<%= render 'shared/modal_header', title: 'Employee Detail' %>

<div class="modal-body">
  <%= image_tag(@employee.image.url(:thumb)) %>
  <h4>Role</h4>
  <%= @employee.role %>
  <h4>Name</h4>
  <%= @employee.name %>
  <h4>User Name</h4>
  <%= @employee.user_name %>
  <h4>Email</h4>
  <%= @employee.email %>
  <h4>Phone</h4>
  <%= @employee.phone %>
  <h4>Gender</h4>
  <%= @employee.gender %>
  <h4>Address</h4>
  <%= @employee.address %>
</div>

<div class="modal-footer clearfix">
  <div class="pull-right">
    <div class='btn btn-default' data-dismiss="modal">Close</div>
  </div>
</div>