<%= form_for @employee, url: add_employees_path,  html:{id: 'employee-addition-form'} do |f| %>
    <div class="col-md-12">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :image %>
          <%= f.file_field :image, class: "form-control" %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :role %>
          <%= f.select :role, options_for_select(AppSetting::EMPLOYEE_ROLE.collect{|k,v| [v, v]}, f.object.role), {}, {class: "form-control"} %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :gender, 'Gender' %>
          <%= f.select :gender, options_for_select(['Male', 'Female']), {}, {class: "form-control"} %>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :phone %>
          <%= f.text_field :phone, class: "form-control" %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :address %>
          <%= f.text_area :address, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :user_name %>
          <%= f.text_field :user_name, class: "form-control" %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, class: "form-control" %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="col-md-12">
        <div class="pull-right">
          <%= f.submit class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
<% end %>
