<div class="row reset-padding">
  <div class="content-wrapper">
    <div class="header-wrapper">
      <h4>
        Change Password of <%= @employee.name %>
      </h4>
    </div>
    <div class="content-body-wrapper secondary-color full-content-wrapper">
      <div class="row content-body">
        <div class="auth-form-wrapper">
          <%= form_for(@employee, url: update_password_employee_path(@employee), html: {method: :put, id: 'update-password', role:'form' }) do |f| %>
              <div class="form-group">
                <%= f.label :password %>
                <%= f.password_field :password, class: "form-control" %>
              </div>

              <div class="form-group">
                <%= f.label :password_confirmation %>
                <%= f.password_field :password_confirmation, class: "form-control" %>
              </div>

              <div class="pull-right">
                <%= f.submit "Submit", class: 'btn btn-primary' %>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>