<div class="row reset-padding">
  <div class="content-wrapper">
    <div class="header-wrapper">
      <h4>
        Employees
      </h4>
    </div>
    <div class="content-body-wrapper secondary-color full-content-wrapper">
      <div class="row actions-button">
        <%= link_to new_employee_path, class: 'btn btn-default pull-right' do %>
            <i class="fa fa-plus-circle"></i> Add New Employee
        <% end %>
      </div>
      <div class="row content-body">
        <table class="table beaccount-table action-table table-responsive table-hover table-striped">
          <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Address</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <% @employees.each do |employee| %>
              <%= render 'employee_row', employee: employee %>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>