<div class="row reset-padding">
  <div class="content-wrapper">
    <div class="content-body-wrapper secondary-color full-content-wrapper">
      <div class="row content-body">
        <div class="auth-form-wrapper">
          <h2>Sign up</h2>

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= devise_error_messages! %>

              <div class="field">
                <%= f.label :user_name %><br />
                <%= f.text_field :user_name, autofocus: true, class: 'form-control reset-border-redius custom-input' %>
              </div>

              <div class="field">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, class: 'form-control reset-border-redius custom-input' %>
              </div>

              <div class="field">
                <%= f.label :password %>
                <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br />
                <%= f.password_field :password, autocomplete: "off", class: 'form-control reset-border-redius custom-input' %>
              </div>

              <div class="field">
                <%= f.label :password_confirmation %><br />
                <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control reset-border-redius custom-input' %>
              </div>

              <div class="actions mt20">
                <%= f.submit "Sign up", class: 'btn btn-default custom-button' %>
              </div>
          <% end %>

          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
