// Place all the styles related to the inventory/deposits controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.last_row {
  td {
    font-weight: bold;
  }
}