// Place all the styles related to the inventory/product_categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hidden-row {
  padding: 0 !important;
}

.inner-table {
  thead {
    background: white !important;
    color: black !important;
    border-top: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
  }
  tbody {
    border-bottom: 1px solid lightgrey;
  }
}

.inner-table-placement {
  background: white !important;
}

.inner-table-link {
  padding: 6px 12px !important;
}