<%= render 'shared/modal_header', title: 'Payment Detail' %>

<div class="modal-body">
  <h4>Party Name</h4>
  <%= @payment.party.name if @payment.party.present? %>
  <h4>Received By</h4>
  <%= @payment.employee.name if @payment.employee.present? %>
  <h4>Payment Method</h4>
  <%= @payment.method %>
  <h4>Date</h4>
  <%= date_format_1 @payment.date %>
  <h4>Bank Name</h4>
  <%= @payment.bank_name %>
  <h4>Cheque No</h4>
  <%= @payment.cheque_no %>
  <h4>Note</h4>
  <%= @payment.note %>
</div>

<div class="modal-footer clearfix">
  <div class="pull-right">
    <div class='btn btn-default' data-dismiss="modal">Close</div>
  </div>
</div>