<tr>
  <td><%= payment.party.name if payment.party.present? %></td>
  <td><%= payment.amount %></td>
  <td><%= date_format_1 payment.date %></td>
  <td><%= payment.method %></td>
  <td>
    <%= link_to inventory_suppliers_payment_path(payment), class: 'btn info-color', remote: true do %>
        <i class="fa fa-eye"> </i>
    <% end %>
    <%= link_to edit_inventory_suppliers_payment_path(payment), class: 'btn warning-color' do %>
        <i class="fa fa-pencil"> </i>
    <% end %>
    <%= link_to inventory_suppliers_payment_path(payment), method: :delete, class: 'btn danger-color', data: {confirm: "Are you sure?"} do %>
        <i class="fa fa-times"> </i>
    <% end %>
  </td>
</tr>