<div class="row reset-padding">
  <div class="content-wrapper">
    <div class="header-wrapper">
      <h4>
        New Supplier Payment
      </h4>
    </div>
    <div class="content-body-wrapper secondary-color full-content-wrapper">
      <div class="row content-body">
        <div class="col-md-8 reset-padding">
          <%= render 'form' %>
        </div>
        <div class="col-md-4 reset-padding">
          <%= render 'party_status', amount: 0.0 %>
        </div>
      </div>
    </div>
  </div>
</div>