<%= render 'shared/modal_header', title: 'Supplier Detail' %>

<div class="modal-body">
  <h4>Name</h4>
  <%= @supplier.name %>
  <h4>Company</h4>
  <%= @supplier.company %>
  <h4>address</h4>
  <%= @supplier.address %>
  <h4>City</h4>
  <%= @supplier.city %>
  <h4>Email</h4>
  <%= @supplier.email %>
  <h4>Phone</h4>
  <%= @supplier.phone %>
  <h4>Note</h4>
  <%= @supplier.note %>
</div>

<div class="modal-footer clearfix">
  <div class="pull-right">
    <div class='btn btn-default' data-dismiss="modal">Close</div>
  </div>
</div>