<tr>
  <td><%= supplier.name %></td>
  <td><%= supplier.company %></td>
  <td><%= supplier.city %></td>
  <td><%= supplier.phone %></td>
  <td>
    <%= link_to inventory_suppliers_supplier_path(supplier), class: 'btn info-color', remote: true do %>
        <i class="fa fa-eye"> </i>
    <% end %>
    <%= link_to edit_inventory_suppliers_supplier_path(supplier), class: 'btn warning-color', remote: true do %>
        <i class="fa fa-pencil"> </i>
    <% end %>
    <%= link_to inventory_suppliers_supplier_path(supplier), method: :delete, class: 'btn danger-color', data: {confirm: "Are you sure?"} do %>
        <i class="fa fa-times"> </i>
    <% end %>
  </td>
</tr>