<% if params[:supplier_order].present? %>
    $('#supplier-company').html(": <%= @supplier.company %>");
    $('#supplier-address').html(": <%= @supplier.address %>");
    $('#supplier-phone').html(": <%= @supplier.phone %>");
    $('#supplier-email').html(": <%= @supplier.email %>");
<% else %>
    $('#global-modal').modal({backdrop: 'static', keyboard: false});
    $('#global-modal').modal('show').find('.modal-content').html("<%= escape_javascript(render 'supplier_detail').html_safe %>");
<% end %>