<div class="main-menu clearfix ">
  <ul>
    <li> <%= link_to 'Home', root_path %> </li>
  </ul>
  <ul class="pull-right mobile-menu">
    <li>
      <a class="mobile-menu-toggle" href="#">
        <i class="fa fa-bars"></i>
      </a>
    </li>
  </ul>
  <ul class="pull-right desktop-menu">
    <% if employee_signed_in? %>
        <li class="top-menu-dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Employee
          </a>
          <ul class="top-menu-dropdown-content">
            <li>
              <%= link_to 'Employee List', employees_path %>
            </li>
          </ul>
        </li>
        <li class="top-menu-dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown">
            Inventory
          </a>
          <ul class="top-menu-dropdown-content">
            <li> <%= link_to 'Product Category', inventory_product_categories_path %></li>
            <li> <%= link_to 'Products', inventory_products_path %></li>
            <li> <%= link_to 'Parties', inventory_parties_path %></li>
            <li> <%= link_to 'Purchase Order', inventory_suppliers_orders_path %></li>
            <li> <%= link_to 'Sale Order', inventory_customers_orders_path %></li>
            <li> <%= link_to 'Product Replacements', inventory_product_replacements_path %></li>
          </ul>
        </li>
        <li class="top-menu-dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown">
            Payment
          </a>
          <ul class="top-menu-dropdown-content">
            <li> <%= link_to 'Supplier Payments', inventory_suppliers_payments_path %></li>
            <li> <%= link_to 'Customer Payments', inventory_customers_payments_path %></li>
          </ul>
        </li>
        <li class="top-menu-dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown">
            Deposit
          </a>
          <ul class="top-menu-dropdown-content">
            <li> <%= link_to 'Deposit Category', inventory_deposit_categories_path %></li>
            <li> <%= link_to 'Deposit', inventory_deposits_path %></li>
          </ul>
        </li>
        <li class="top-menu-dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown">
            Withdraw
          </a>
          <ul class="top-menu-dropdown-content">
            <li> <%= link_to 'Withdraw Category', inventory_withdraw_categories_path %></li>
            <li> <%= link_to 'Withdraw', inventory_withdraws_path %></li>
          </ul>
        </li>
        <li class="top-menu-dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown">
            Expense
          </a>
          <ul class="top-menu-dropdown-content">
            <li> <%= link_to 'Categories', expenses_categories_path %></li>
            <li> <%= link_to 'Expenses', expenses_expenses_path %></li>
            <li> <%= link_to 'Monthly Report', monthly_report_expenses_expenses_path %></li>
            <li> <%= link_to 'Yearly Report', yearly_report_expenses_expenses_path %></li>
          </ul>
        </li>
        <!--<li class="top-menu-dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown">Switch department</a>
          <ul class="top-menu-dropdown-content last-dropdown">
            <%# departments.each do |department| %>
                <li class="<%#= current_department == department ? 'current-department' : '' %>">
                  <%#= link_to switch_department_path(department) do %>
                      <%#= department.name %>
                  <%# end %>
                </li>
            <%# end %>
          </ul>
        </li>-->
        <!--<li class="top-menu-dropdown">
          <a class="dropdown-toggle" href="#" data-toggle="dropdown">
            <i class="fa fa-sign-out"></i>
          </a>

          <ul class="top-menu-dropdown-content last-dropdown">
            <li>
              <%#= link_to departments_path do %>
                  <i class="fa fa-sign-out"></i> Departmets
              <%# end %>
            </li>
          </ul>
        </li>-->
        <li class="top-menu-dropdown">
          <a class="dropdown-toggle" href="#" data-toggle="dropdown">
            <i class="fa fa-user"></i>
          </a>

          <ul class="top-menu-dropdown-content last-dropdown">
            <li>
              <%= link_to initial_balance_department_path(current_department) do %>
                  <i class="fa fa-usd"></i> Initial Balance
              <% end %>
            </li>
            <li>
              <%= link_to destroy_employee_session_path, :method => :delete do %>
                  <i class="fa fa-sign-out"></i> Logout
              <% end %>
            </li>
          </ul>
        </li>
    <% end %>
  </ul>
</div>