<tr>
  <td><%= order.party.name if order.party.present? %></td>
  <td><%= date_format_1 order.date %></td>
  <td><%= date_format_1 order.receive_date %></td>
  <td><%= order.total %></td>
  <td>
    <%= link_to inventory_suppliers_order_path(order), class: 'btn info-color' do %>
        <i class="fa fa-eye"> </i>
    <% end %>
    <%= link_to edit_inventory_suppliers_order_path(order), class: 'btn warning-color' do %>
        <i class="fa fa-pencil"> </i>
    <% end %>
    <%= link_to inventory_suppliers_order_path(order), method: :delete, class: 'btn danger-color', data: {confirm: "Are you sure?"} do %>
        <i class="fa fa-times"> </i>
    <% end %>
  </td>
</tr>