<%= f.fields_for :suppliers_payment do |fff| %>
      <div class="col-sm-6">
        <div class="form-group" style="clear: both">
          <%= fff.label :amount %>
          <%= fff.text_field :amount, class: "form-control" %>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <%= fff.label :method, 'Payment Method' %>
          <%= fff.select :method, options_for_select([["Cash", "cash"], ["Cheque", "cheque"]],fff.object.method), {prompt: "Select Payment Method..."}, {class:'form-control', id:'supplier-payment-method-select'} %>
        </div>
      </div>
   <div class="cheque-data">
     <div class="col-sm-6">
       <div class="form-group" style="clear: both">
         <%= fff.label :bank_name %>
         <%= fff.text_field :bank_name, class: "form-control" %>
       </div>
     </div>
     <div class="col-sm-6">
       <div class="form-group">
         <%= fff.label :cheque_no %>
         <%= fff.text_field :cheque_no, class: "form-control" %>
       </div>
     </div>
     <div class="col-sm-6">
       <div class="form-group">
         <%= fff.label :value_date %>
         <%= fff.text_field :value_date, class: "form-control" %>
         <%= fff.hidden_field :party_id %>
         <%= fff.hidden_field :department_id, value: current_department.id %>
       </div>
     </div>
   </div>
<% end %>

<script type="text/javascript">
     cheque_fields();
     $('#inventory_suppliers_order_suppliers_payment_attributes_value_date').datetimepicker({
         format: 'YYYY-MM-DD'
     });
    $('#supplier-payment-method-select').on('change', function () {
        cheque_fields();
    });

        function cheque_fields() {
            if ($('#supplier-payment-method-select').val() == 'cheque') {
                $('.cheque-data').show();
            }
            else {
                $('.cheque-data').hide();
                $('#inventory_suppliers_order_suppliers_payment_attributes_bank_name').val('');
                $('#inventory_suppliers_order_suppliers_payment_attributes_cheque_no').val('');
                $('#inventory_suppliers_order_suppliers_payment_attributes_value_date').val('');
            }
        }
</script>