<div class="col-md-12 sub-title mt30">
  Products
  <div class="pull-right">
    <%= link_to_add_product 'Add Product', f, :order_items, {klass: 'btn btn-default add-product-link'} %>
    <%#= link_to new_inventory_product_path, class: 'btn btn-default', remote: true do %>
    <!--<i class="fa fa-plus"></i> Add New Product-->
    <%# end %>
  </div>
</div>

<div class="col-md-12 reset-padding">
  <table class="table action-table table-responsive table-striped purchase-order-products mb0">
    <thead>
    <tr>
      <th>Name</th>
      <th>Stock Quantity</th>
      <th>Quantity</th>
      <th>Description</th>
      <th>Unit Price</th>
      <th>Total Price</th>
      <th>Unit Buying Price</th>
      <th></th>
    </tr>
    </thead>
    <tbody id="puchase-order-product-list" style="border-bottom: 1px solid #BBBBBB">
    <%= f.fields_for :order_items do |ff| %>
        <%= render 'order_item_fields', ff: ff %>
    <% end %>
    </tbody>
  </table>

  <div class="no-data">
  </div>
</div>

<script type="text/javascript">
    $(function () {
        $('.add-product-link').click(function (event) {
            time = new Date().getTime();
            regexp = new RegExp($(this).data('id'), 'g');
            $('#puchase-order-product-list').append($(this).data('fields').replace(regexp, time));
            $('#inventory_suppliers_order_order_items_attributes_'+ time +'_product_id').chosen();
            $('#no-data-found').remove();
            event.preventDefault();
        });

        if ($(".purchase-order-products").find("tbody").find("tr").size() <= 0) {
            $('.no-data').html("<%= escape_javascript( render 'shared/no_data_found', message: 'No Product To Order').html_safe %>");
        }
    });
</script>