<div class="col-md-12 sub-title">
  Supplier Information
</div>
<div class="col-md-12 reset-padding">
  <div class="col-md-4 reset-padding">
    <%= f.label :supplier_id, 'Supplier' %>
  </div>
  <div class="col-md-8">
    <%= f.select :supplier_id, options_for_select(@suppliers.collect{|supplier| [supplier.name, supplier.id]}, f.object.supplier_id), {prompt: "Select Supplier..."}, {class:'form-control custom-chosen', id:'supplier-order-supplier-select'} %>
  </div>
</div>
<div class="col-md-12 reset-padding">
  <div class="col-md-4 reset-padding">
    <%= label_tag 'Company' %>
  </div>
  <div class="col-md-8", id="supplier-company">: <%= f.object.supplier.name if f.object.supplier.present? %></div>
</div>
<div class="col-md-12 reset-padding">
  <div class="col-md-4 reset-padding">
    <%= label_tag 'Address' %>
  </div>
  <div class="col-md-8", id="supplier-address">: <%= f.object.supplier.address if f.object.supplier.present? %></div>
</div>
<div class="col-md-12 reset-padding">
  <div class="col-md-4 reset-padding">
    <%= label_tag 'Phone' %>
  </div>
  <div class="col-md-8", id="supplier-phone">: <%= f.object.supplier.phone if f.object.supplier.present? %></div>
</div>
<div class="col-md-12 reset-padding">
  <div class="col-md-4 reset-padding">
    <%= label_tag 'Email' %>
  </div>
  <div class="col-md-8", id="supplier-email">: <%= f.object.supplier.email if f.object.supplier.present? %></div>
</div>

<script type="text/javascript">
    $(function () {
        $('#supplier-order-supplier-select').change(function () {
            if ($(this).val().length > 0) {
                $.ajax({
                    url: '/inventory/suppliers/suppliers/'+ $(this).val(),
                    type: 'get',
                    dataType: 'script',
                    data: { supplier_order: 'yes'}
                });
            }
            else {
                $('#supplier-company').html(":");
                $('#supplier-address').html(":");
                $('#supplier-phone').html(":");
                $('#supplier-email').html(":");
            }
        });
    });
</script>