<div class="row content-body">
  <table id="purchase-order" class="searchable-table table beaccount-table action-table table-responsive table-hover table-striped">
    <thead>
    <tr>
      <th>Party</th>
      <th>Order Date</th>
      <th>Receive Date</th>
      <th>Amount</th>
      <th></th>
    </tr>
    </thead>
    <tfoot>
    <tr>
      <th colspan="3" style="text-align:right">Total:</th>
      <th colspan="2"><%= @orders.sum(:total) %></th>
    </tr>
    </tfoot>
    <tbody>
    <% @orders.each do |order| %>
        <%= render 'order_row', order: order %>
    <% end %>
    </tbody>
  </table>
</div>