<div class="row reset-padding">
  <div class="content-wrapper">
    <div class="header-wrapper">
      <h4>
        View Sale Order
      </h4>
    </div>
    <div class="content-body-wrapper secondary-color full-content-wrapper">
      <div class="row content-body">
        <div class="col-md-12 reset-padding">
          <div class="col-md-5 reset-padding mb15">
            <div class="col-md-12 sub-title mb0">Date</div>
            <div class="col-md-12 reset-padding">
              <%= @order.date %>
            </div>
          </div>


          <div class="col-md-12 reset-padding">
            <div class="col-md-5 reset-padding">
              <div class="col-md-12 sub-title">
                Party Information
              </div>
              <div class="col-md-12 reset-padding">
                <div class="col-md-4 reset-padding">
                  Party
                </div>
                <div class="col-md-8">
                  : <%= @order.party.name if @order.party.present?%>
                </div>
              </div>
              <div class="col-md-12 reset-padding">
                <div class="col-md-4 reset-padding">
                  Company
                </div>
                <div class="col-md-8", id="party-company">: <%= @order.party.name if @order.party.present?%></div>
              </div>
              <div class="col-md-12 reset-padding">
                <div class="col-md-4 reset-padding">
                  Address
                </div>
                <div class="col-md-8", id="party-address">: <%= @order.party.address if @order.party.present?%></div>
              </div>
              <div class="col-md-12 reset-padding">
                <div class="col-md-4 reset-padding">
                  Phone
                </div>
                <div class="col-md-8", id="party-phone">: <%= @order.party.phone if @order.party.present? %></div>
              </div>
              <div class="col-md-12 reset-padding">
                <div class="col-md-4 reset-padding">
                  Email
                </div>
                <div class="col-md-8", id="party-email">: <%= @order.party.email if @order.party.present? %></div>
              </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5 reset-padding">
              <div class="col-md-12 sub-title">
                Buyer Information
              </div>
              <div class="col-md-12 reset-padding">
                <div class="col-md-4 reset-padding">
                  <%= label_tag 'Buyer Name' %>
                </div>
                <div class="col-md-8">:
                  <%= current_employee.name %>
                </div>
              </div>
              <div class="col-md-12 reset-padding">
                <div class="col-md-4 reset-padding">
                  <%= label_tag 'Company' %>
                </div>
                <div class="col-md-8">:
                  <%= current_department.name %>
                </div>
              </div>
              <div class="col-md-12 reset-padding">
                <div class="col-md-4 reset-padding">
                  <%= label_tag 'Address' %>
                </div>
                <div class="col-md-8">:
                  <%= current_employee.address %>
                </div>
              </div>
              <div class="col-md-12 reset-padding">
                <div class="col-md-4 reset-padding">
                  <%= label_tag 'Phone' %>
                </div>
                <div class="col-md-8">:
                  <%= current_employee.phone %>
                </div>
              </div>
              <div class="col-md-12 reset-padding">
                <div class="col-md-4 reset-padding">
                  <%= label_tag 'Email' %>
                </div>
                <div class="col-md-8">:
                  <%= current_employee.email %>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12 sub-title">
            Item Details
          </div>

          <div class="col-md-12 reset-padding">
            <table class="table action-table table-responsive table-striped sale-order-products mb0">
              <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Unit Price</th>
                <th style="text-align: right">Line Total</th>
              </tr>
              </thead>
              <tbody id="sale-order-product-list" style="border-bottom: 1px solid #BBBBBB">
              <% @order.order_items.each do |item|%>
                  <tr>
                    <td><%= item.product.name%></td>
                    <td><%= item.description%></td>
                    <td><%= item.quantity%></td>
                    <td><%= item.price%></td>
                    <td><b><%= item.total%></b></td>
                  </tr>
              <% end %>
              </tbody>
            </table>

            <div class="no-data">
            </div>
          </div>
          <div class="col-md-12 reset-padding mt20">
            <div class="col-md-5 reset-padding">
              <b>Note:</b>
              <%= @order.note %>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5 reset-padding" style="text-align: right">
              <div class="col-md-12 reset-padding">
                <div class="col-md-7 reset-padding">
                  Sub Total
                </div>
                <div class="col-md-5 reset-padding">
                  <b><%= @order.price %></b>
                </div>
              </div>

              <div class="col-md-12 reset-padding mt5">
                <div class="col-md-7 reset-padding">
                  Vat
                </div>
                <div class="col-md-5 reset-padding">
                  <b><%= @order.vat %></b>
                </div>
              </div>

              <div class="col-md-12 reset-padding mt5">
                <div class="col-md-7 reset-padding">
                  Total
                </div>
                <div class="col-md-5 reset-padding">
                  <b><%= @order.total %></b>
                </div>
              </div>
            </div>
          </div>

          <% if @order.suppliers_payment.present? %>
              <div class="col-md-12 sub-title">
                Payment Information
              </div>

              <table class="table action-table table-responsive table-striped sale-order-products mb0">
                <thead>
                <tr>
                  <th>Payment Type</th>
                  <% if @order.suppliers_payment.method == 'cheque' %>
                      <th>Bank Name</th>
                      <th>Chaque Number</th>
                      <th >Value Date</th>
                  <% end %>
                  <th style="text-align: right">Amount</th>
                </tr>
                </thead>
                <tbody id="sale-order-product-list" style="border-bottom: 1px solid #BBBBBB">
                <tr>
                  <td><%= @order.suppliers_payment.method%></td>
                  <% if @order.suppliers_payment.method == 'cheque' %>
                      <td><%= @order.suppliers_payment.bank_name%></td>
                      <td><%= @order.suppliers_payment.cheque_no%></td>
                      <td><%= @order.suppliers_payment.value_date%></td>
                  <% end %>
                  <td><b><%= @order.suppliers_payment.amount%></b></td>
                </tr>
                </tbody>
              </table>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


