<tr>
  <td><%= department.name %></td>
  <td><%= truncate(department.description, elngth: 60) %></td>
  <td><%= department.address %></td>
  <td>
    <%= link_to department_path(department), class: 'btn info-color', remote: true do %>
        <i class="fa fa-eye"> </i>
    <% end %>
    <%= link_to edit_department_path(department), class: 'btn warning-color', remote: true do %>
        <i class="fa fa-pencil"> </i>
    <% end %>
    <%= link_to department_path(department), method: :delete, class: 'btn danger-color', data: {confirm: "Are you sure?"} do %>
        <i class="fa fa-times"> </i>
    <% end %>
  </td>
</tr>