<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title"><%= @department.name %>  </h4>
</div>

<div class="modal-body">
  <h4>Description</h4>
  <%= @department.description %>
  <h4>Address</h4>
  <%= @department.address %>
</div>

<div class="modal-footer clearfix">
  <div class="pull-right">
    <div class='btn btn-default' data-dismiss="modal">Close</div>
  </div>
</div>