<%= form_for @department,  html:{ class:'form-vertical', id: 'department-form'} do |f| %>
    <%= render 'shared/modal_header', title: @department.new_record? ? 'Add New Department' : 'Edit Department' %>

    <div class="modal-body">
      <div class="form-group">
        <%= f.label "Name*", class: 'control-label', for: 'name' %>
        <%= f.text_field :name, class: "form-control", id: 'name' %>
      </div>
      <div class="form-group">
        <%= f.label :description, class: 'control-label', for: 'description' %>
        <%= f.text_area :description, class: "form-control", id: 'description' %>
      </div>
      <div class="form-group">
        <%= f.label :address, class: 'control-label', for: 'address' %>
        <%= f.text_area :address, class: "form-control", id: 'address' %>
      </div>
    </div>

    <div class="modal-footer clearfix">
      <div class="pull-right">
        <%= f.submit class: 'btn btn-primary department_submit' %>
        <div class='btn btn-default' data-dismiss="modal">Close</div>
      </div>
    </div>
<% end %>
