<div class="row reset-padding">
  <div class="content-wrapper">
    <div class="header-wrapper">
      <h4>
        Departments
      </h4>
    </div>
    <div class="content-body-wrapper secondary-color full-content-wrapper">
      <div class="row actions-button">
        <%= link_to new_department_path, class: 'btn btn-default pull-right', remote: true do %>
            <i class="fa fa-plus-circle"></i> Add New Department
        <% end %>
      </div>
      <div class="row content-body">
        <table class="table beaccount-table action-table table-responsive table-hover table-striped">
          <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Address</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <% @departments.each do |department| %>
          <%= render 'department_row', department: department %>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>