<div class="row reset-padding">
  <div class="content-wrapper">
    <div class="header-wrapper">
      <h4>
        <%= current_department.name %>'s Initial Balance
      </h4>
    </div>
    <div class="content-body-wrapper secondary-color full-content-wrapper">
      <div class="row content-body">
        <div class="auth-form-wrapper">
          <%= form_for(@department, url:  update_balance_department_path(@department), html: {method: :put, id: 'update-balance', role:'form' }) do |f| %>
              <div class="form-group">
                <%= f.label :balance %>
                <%= f.text_field :balance, class: "form-control" %>
              </div>
              <% if @is_editable %>
                  <div class="pull-right">
                    <%= f.submit "Update Balance", class: 'btn btn-primary' %>
                  </div>
              <% else %>
              <div class="">
                You can not update your initial balance now.
                To update your balance first of all you need to remove all of your <b>Daily Closing</b>'s
                from your <b>Cash Book</b> and then reload this page.
              </div>
              <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>