<table class="table beaccount-table table-responsive table-hover table-striped cashbook-table">
  <thead>
  <tr>
    <th colspan="3">Cash Sale</th>
  </tr>
  <tr>
    <th>Product</th>
    <th>Amount</th>
    <th>Quantity</th>
  </tr>
  </thead>
  <tbody>
  <% total = 0.0 %>
  <% @customer_cash_orders.each do |order| %>
      <% order.order_items.each do |order_item| %>
          <tr>
            <td>
              <%= order_item.product.name if order_item.product.present? %>
            </td>
            <td>
              <%= order_item.total %>
              <% total += order_item.total %>
            </td>
            <td>
              <%= order_item.quantity %>
            </td>
          </tr>
      <% end %>
  <% end %>
  <tr>
    <td><b>Total</b></td>
    <td><b><%= total %></b></td>
    <td><b></b></td>
  </tr>
  <% @cash_in += total %>
  </tbody>
</table>