<table class="table beaccount-table table-responsive table-hover table-striped cashbook-table">
  <thead>
  <tr>
    <th colspan="3">Cash Outs</th>
  </tr>
  <tr>
    <th>Name</th>
    <th>Amount</th>
    <th>Quantity</th>
  </tr>
  </thead>
  <tbody>
  <% total = 0.0 %>
  <% @cash_outs.each do |data| %>
      <tr>
        <td>
          <%= data[:name] %>
        </td>
        <td>
          <%= data[:amount] %>
          <% total += data[:amount] %>
        </td>
        <td>
          <%= data[:quantity] %>
        </td>
      </tr>
  <% end %>
  <tr>
    <td><b>Total</b></td>
    <td><b><%= total %></b></td>
    <td><b></b></td>
  </tr>
  <% @cash_out += total %>
  </tbody>
</table>