<table class="table beaccount-table table-responsive table-hover table-striped cashbook-table">
  <thead>
  <tr>
    <th colspan="3">Credit Purchase</th>
  </tr>
  <tr>
    <th>Party</th>
    <th>Amount</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% total = 0.0 %>
  <% @supplier_credit_orders.each do |order| %>
      <tr>
        <td>
          <%= order.party.name if order.party.present? %>
        </td>
        <td>
          <%= order.total %>
          <% total += order.total %>
        </td>
        <td>
          <%= link_to inventory_suppliers_order_path(order), class: 'btn info-color' do %>
              <i class="fa fa-eye"> </i>
          <% end %>
        </td>
      </tr>
  <% end %>
  <tr>
    <td><b>Total</b></td>
    <td><b><%= total %></b></td>
    <td><b></b></td>
  </tr>
  </tbody>
</table>