<table class="table beaccount-table table-responsive table-hover table-striped">
  <thead>
  <tr>
    <th colspan="5">Credit Sale</th>
  </tr>
  <tr>
    <th>Party</th>
    <th>Amount</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @customer_credit_orders.each do |order| %>
      <tr>
        <td>
          <%= order.party.name if order.party.present? %>
        </td>
        <td>
          <%= order.total %>
        </td>
        <td>
          <%= link_to inventory_customers_order_path(order), class: 'btn info-color' do %>
              <i class="fa fa-eye"> </i>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>