<div class="col-md-4"></div>
<div class="col-md-4 cal-balance">
  <div class="col-md-12">
    <% if @initial_balance.present? %>
        <div class="col-md-6">
          <h4>Initial Balance</h4>
        </div>
        <div class="col-md-6">
          <h4 class="pull-right"><%= @initial_balance %></h4>
        </div>
    <% else %>
        <div class="col-md-12">
          You hadn't close your previous cash books. To see complete cash book you need to close your previous cash books.
        </div>
    <% end %>
  </div>
  <div class="col-md-12">
    <div class="col-md-6">
      <h4>Cash In</h4>
    </div>
    <div class="col-md-6">
      <h4 class="pull-right"><%= @cash_in %></h4>
    </div>
  </div>
  <div class="col-md-12">
    <div class="col-md-6">
      <h4>Cash Out</h4>
    </div>
    <div class="col-md-6">
      <h4 class="pull-right"><%= @cash_out %></h4>
    </div>
  </div>
  <div class="col-md-12" style="border-top: 1px dashed #d7d7d7">
    <div class="col-md-6">
      <h4>Balance</h4>
    </div>
    <div class="col-md-6">
      <h4 class="pull-right">
        <% if @initial_balance.present? %>
            <%= (@initial_balance + @cash_in) - @cash_out %>
        <% else %>
            <%= @cash_in - @cash_out %>
        <% end %>
      </h4>
    </div>
  </div>
</div>
<div class="col-md-4"></div>