<table class="table beaccount-table table-responsive table-hover table-striped">
  <thead>
  <tr>
    <th colspan="5">Supplier</th>
  </tr>
  <tr>
    <th>Name</th>
    <th>Amount</th>
    <th>Method</th>
    <th>Type</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @suppliers_data.each do |data| %>
      <tr>
        <td>
          <%= data[:party_name] %>
        </td>
        <td>
          <%= data[:amount] %>
        </td>
        <td>
          <%= data[:method] %>
        </td>
        <td>
          <%= data[:type] %>
        </td>
        <td>
          <%= link_to data[:type] == 'Order' ? inventory_suppliers_order_path(data[:id]) : inventory_suppliers_payment_path(data[:id]), class: 'btn info-color', remote: true do %>
              <i class="fa fa-eye"> </i>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>