<table class="table beaccount-table table-responsive table-hover table-striped cashbook-table">
  <thead>
  <tr>
    <th colspan="3">Supplier Payments</th>
  </tr>
  <tr>
    <th>Party</th>
    <th>Amount</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% total = 0.0 %>
  <% @supplier_credit_payments.each do |payment| %>
      <tr>
        <td>
          <%= payment.party.name if payment.party.present? %>
        </td>
        <td>
          <%= payment.total %>
          <% total += payment.total %>
        </td>
        <td>
          <%= link_to inventory_suppliers_payment_path(payment), class: 'btn info-color', remote: true do %>
              <i class="fa fa-eye"> </i>
          <% end %>
        </td>
      </tr>
  <% end %>
  <tr>
    <td><b>Total</b></td>
    <td><b><%= total %></b></td>
    <td><b></b></td>
  </tr>
  <% @cash_out += total %>
  </tbody>
</table>