<div class="row reset-padding">
  <div class="content-wrapper">
    <div class="header-wrapper">
      <h4>
        Cash Book (<%= date_format_1(params[:date].present? ? params[:date].to_date : Date.today) %>)
      </h4>
    </div>
    <div class="content-body-wrapper secondary-color full-content-wrapper">
      <div class="row actions-button">
        <%= form_tag '', method: 'get', id: 'filter-date-range-form' do %>
            <div class="col-sm-3 reset-padding">
              <%= text_field_tag :date, '', value: params[:date].present? ? params[:date] : Date.today, class: 'form-control', id: 'cash_book_date' %>
            </div>
            <div class="col-md-2">
              <%= submit_tag 'Search', class: 'btn btn-default' %>
            </div>
        <% end %>
        <div class="col-md-4">
          <div class="pull-right">
            <% if @initial_balance.present? %>
                <% if @daily_closing.new_record? %>
                    <%= form_for @daily_closing, id: 'daily-closing-form' do |f| %>
                        <%= f.hidden_field :date, value: params[:date].present? ? params[:date] : Date.today, id: 'daily-closing-date' %>
                        <%= f.hidden_field :balance, id: 'daily-closing-balance' %>
                        <%= f.submit 'Close Daily Cash Book', data: { confirm: 'Are you sure you want to close this cash book?' }, class: 'btn btn-primary' %>
                    <% end %>
                <% else %>
                    <%= link_to 'Open Closed Cash Book', daily_closing_path(@daily_closing, date: params[:date].present? ? params[:date] : Date.today), method: :delete, data: {confirm: "Are you sure you want to remove closing information?"}, class: 'btn btn-warning' %>
                <% end %>
            <% end %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="pull-right">
            <% if @is_monthly_closing %>
                <%= link_to 'Close Previous month', close_previous_month_path(month: (@date.beginning_of_month - 1.day).month, year: (@date.beginning_of_month - 1.day).year), data: {confirm: "Are you sure you want to close previous months cash book?"}, class: 'btn btn-info' %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row report-content-body">
        <div class="col-md-3 reset-padding">
          <%= render 'credit_sales' %>
        </div>
        <div class="col-md-3 reset-padding">
          <%= render 'credit_purchases' %>
        </div>
        <div class="col-md-3 reset-padding">
          <%= render 'cash_sales' %>
          <%= render 'customer_payments' %>
        </div>
        <div class="col-md-3 reset-padding">
          <%= render 'cash_outs' %>
          <%= render 'supplier_payments' %>
        </div>
        <div class="col-md-12">
          <%= render 'final_balance' %>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#cash_book_date').datetimepicker({
            format: 'YYYY-MM-DD',
            minDate: '<%= current_department.created_at.strftime('%Y-%m-%d') %>'
        });

        <% if @initial_balance.present? %>
        $('#daily-closing-balance').val('<%= (@initial_balance + @cash_in) - @cash_out %>');
        <% else %>
        $('#daily-closing-balance').val('<%= @cash_in - @cash_out %>');
        <% end %>

    });
</script>