<div class="row reset-padding">
  <div class="content-wrapper">
    <div class="header-wrapper">
      <h4>
        Daily Status
      </h4>
    </div>
    <div class="content-body-wrapper secondary-color full-content-wrapper">
      <div class="row actions-button">
        <%= form_tag '', method: 'get', id: 'filter-date' do %>
            <div class="col-sm-3 reset-padding">
              <%= text_field_tag :date, '', value: params[:date].present? ? params[:date] : Date.today, class: 'form-control', id: 'daily_status_date' %>
            </div>
        <% end %>
      </div>
      <div class="row report-content-body">
        <div class="col-md-4 reset-padding">
          <%= render 'supplier_table' %>
        </div>
        <div class="col-md-4 reset-padding">
          <%= render 'customer_table' %>
        </div>
        <div class="col-md-3 reset-padding">
          <table class="table beaccount-table table-responsive table-hover table-striped">
            <thead>
            <tr>
              <th colspan="4">Supplier</th>
            </tr>
            </thead>
            <tbody>
            <% (1..5).each do |i| %>
                <tr>
                  <td>Name</td>
                  <td>Amount</td>
                  <td>Type</td>
                  <td>Actions</td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>
        <div class="col-md-1 reset-padding">
          <table class="table beaccount-table table-responsive table-hover table-striped">
            <thead>
            <tr>
              <th>Balance</th>
            </tr>
            </thead>
            <tbody>
            <% (1..5).each do |i| %>
                <tr>
                  <td>Amount</td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#daily_status_date').datetimepicker({
            format: 'YYYY-MM-DD'
        });
    });
</script>