<tr>
  <td><%= category.name %></td>
  <td><%= truncate(category.description, length: 60) %></td>
  <td><%= category.withdraws.sum(:amount) %></td>
  <td>
    <%= link_to inventory_withdraw_category_path(category), class: 'btn info-color', remote: true do %>
        <i class="fa fa-eye"> </i>
    <% end %>
    <%= link_to edit_inventory_withdraw_category_path(category), class: 'btn warning-color', remote: true do %>
        <i class="fa fa-pencil"> </i>
    <% end %>
    <%= link_to inventory_withdraw_category_path(category), method: :delete, class: 'btn danger-color', data: {confirm: "Are you sure?"} do %>
        <i class="fa fa-times"> </i>
    <% end %>
  </td>
</tr>