<%= render 'shared/modal_header', title: 'Withdraw Category Detail' %>

<div class="modal-body">
  <h4>Name</h4>
  <%= @withdraw_category.name %>
  <h4>Balance</h4>
  <%= @withdraw_category.deposits.sum(:amount) %>
  <h4>Description</h4>
  <%= @withdraw_category.description %>
</div>

<div class="modal-footer clearfix">
  <div class="pull-right">
    <div class='btn btn-default' data-dismiss="modal">Close</div>
  </div>
</div>