<%= form_for @withdraw_category, html:{id: 'withdraw-category-form'} do |f| %>
    <%= render 'shared/modal_header', title: @withdraw_category.new_record? ? 'Add New Category' : 'Edit Category' %>
    <div class="modal-body">
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, class: "form-control" %>
      </div>
    </div>

    <div class="modal-footer clearfix">
      <div class="pull-right">
        <%= f.submit class: 'btn btn-primary' %>
        <div class='btn btn-default' data-dismiss="modal">Close</div>
      </div>
    </div>
<% end %>
