<div class="row reset-padding">
  <div class="content-wrapper">
    <div class="content-body-wrapper secondary-color full-content-wrapper">
      <div class="row content-body">
        <div class="auth-form-wrapper">
          <h2>Log In</h2>

          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="field">
                <%= f.label :user_login %><br />
                <%= f.text_field :user_login, autofocus: true, class: 'form-control reset-border-redius custom-input' %>
              </div>

              <div class="field">
                <%= f.label :password %><br />
                <%= f.password_field :password, autocomplete: "off", class: 'form-control reset-border-redius custom-input' %>
              </div>

              <% if devise_mapping.rememberable? -%>
                  <div class="field">
                    <%= f.check_box :remember_me %>
                    <%= f.label :remember_me %>
                  </div>
              <% end -%>

              <div class="actions mt20">
                <%= f.submit "Log In", class: 'btn btn-default custom-button' %>
              </div>
          <% end %>

          <%#= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
