<tr>
  <td><%= party.name %></td>
  <td><%= party.company %></td>
  <td><%= party.city %></td>
  <td><%= party.phone %></td>
  <td>
    <%= link_to inventory_party_path(party), class: 'btn info-color', remote: true do %>
        <i class="fa fa-eye"> </i>
    <% end %>
    <%= link_to edit_inventory_party_path(party), class: 'btn warning-color', remote: true do %>
        <i class="fa fa-pencil"> </i>
    <% end %>
    <%= link_to balance_report_inventory_parties_path(id: party.id), class: 'btn info-color' do %>
        <i class="fa fa-history"> </i>
    <% end %>
    <%#= link_to inventory_party_path(party), method: :delete, class: 'btn danger-color', data: {confirm: "Are you sure?"} do %>
        <!--<i class="fa fa-times"> </i>-->
    <%# end %>
  </td>
</tr>