<div class="col-md-12 sub-title">
  Party Information
</div>
<div class="col-md-12 reset-padding">
  <div class="col-md-4 reset-padding">
    <%= f.label :party_id, 'Party' %>
  </div>
  <div class="col-md-8">
    <%= f.select :party_id, options_for_select(@parties.collect{|party| [party.name, party.id]}, f.object.party_id), {prompt: "Select Party..."}, {class:'form-control custom-chosen', id:'purchase-order-party-select'} %>
  </div>
</div>
<div class="col-md-12 reset-padding">
  <div class="col-md-4 reset-padding">
    <%= label_tag 'Company' %>
  </div>
  <div class="col-md-8", id="party-company">: <%= f.object.party.name if f.object.party.present? %></div>
</div>
<div class="col-md-12 reset-padding">
  <div class="col-md-4 reset-padding">
    <%= label_tag 'Address' %>
  </div>
  <div class="col-md-8", id="party-address">: <%= f.object.party.address if f.object.party.present? %></div>
</div>
<div class="col-md-12 reset-padding">
  <div class="col-md-4 reset-padding">
    <%= label_tag 'Phone' %>
  </div>
  <div class="col-md-8", id="party-phone">: <%= f.object.party.phone if f.object.party.present? %></div>
</div>
<div class="col-md-12 reset-padding">
  <div class="col-md-4 reset-padding">
    <%= label_tag 'Email' %>
  </div>
  <div class="col-md-8", id="party-email">: <%= f.object.party.email if f.object.party.present? %></div>
</div>

<script type="text/javascript">
    $(function () {
        $('#purchase-order-party-select').change(function () {
            $('#inventory_suppliers_order_suppliers_payment_attributes_party_id').val($(this).val());
            $('#inventory_customers_order_customers_payment_attributes_party_id').val($(this).val());
            if ($(this).val().length > 0) {
                $.ajax({
                    url: '/inventory/parties/'+ $(this).val(),
                    type: 'get',
                    dataType: 'script',
                    data: { purchase_order: 'yes'}
                });
            }
            else {
                $('#party-company').html(":");
                $('#party-address').html(":");
                $('#party-phone').html(":");
                $('#party-email').html(":");
            }
        });
    });
</script>