<%= render 'shared/modal_header', title: 'Party Detail' %>

<div class="modal-body">
  <h4>Name</h4>
  <%= @party.name %>
  <h4>Company</h4>
  <%= @party.company %>
  <h4>address</h4>
  <%= @party.address %>
  <h4>City</h4>
  <%= @party.city %>
  <h4>Email</h4>
  <%= @party.email %>
  <h4>Phone</h4>
  <%= @party.phone %>
  <h4>Note</h4>
  <%= @party.note %>
</div>

<div class="modal-footer clearfix">
  <div class="pull-right">
    <div class='btn btn-default' data-dismiss="modal">Close</div>
  </div>
</div>