<div class="row reset-padding">
  <div class="content-wrapper">
    <div class="header-wrapper">
      <h4>
        Balance Report
      </h4>
    </div>
    <div class="content-body-wrapper secondary-color full-content-wrapper">
      <div class="row actions-button">
        <div class="search-form clearfix">
          <%= form_tag '', method: 'get', id: 'stock-report-form' do %>
              <%= select_tag :id, options_for_select(@parties.collect{ |party| [party.name, party.id]}, @party.id), {class:'custom-chosen form-control'}  %>
              <%= select_month params[:date].present? ? params[:date][:month].to_i : Date.today, {}, {class: "form-control"} %>
              <%= select_year params[:date].present? ? params[:date][:year].to_i : Date.today, {:start_year => Date.today.year, :end_year => current_department.year}, {class: "form-control"} %>
              <%= submit_tag 'Search', class: 'btn btn-info reset-border-radius' %>
          <% end %>
        </div>
      </div>
      <div class="row content-body">
        <% if @initial_balance.present? %>
            <h4 class="text-center">Initial Balance : <%= @initial_balance %></h4>
            <!--<h5 class="text-center">(-ve) Balance : Amount Receivable</h5>-->
            <!--<h5 class="text-center">(+ve) Balance : Amount Payable</h5>-->
            <div class="text-center mt15 mb15">
              <span class="label label-success balance-report-span">-ve</span> Balance = Amount Receivable
              <span class="label label-success balance-report-span ml15">+ve</span> Balance = Amount Payable
            </div>
            <table class="table beaccount-table table-responsive table-hover table-striped">
              <thead>
              <tr>
                <th>Date</th>
                <th>Party</th>
                <th>Type</th>
                <th>Amount</th>
                <th>Balance</th>
              </tr>
              </thead>
              <tbody>
              <% @history.each do |hist| %>
                  <tr>
                    <td>
                      <%= date_format_1(hist[:date])  %>
                    </td>
                    <td>
                      <%= hist[:party] %>
                    </td>
                    <td>
                      <%= hist[:type] %>
                    </td>
                    <td>
                      <%= hist[:amount_plus] == 0 ? hist[:amount_minus] : hist[:amount_plus] %>
                    </td>
                    <td>
                      <%= @total_balance = (@total_balance + hist[:amount_plus]) - hist[:amount_minus] %>
                    </td>
                  </tr>
              <% end %>
              </tbody>
            </table>
        <% else %>
            <div>
              <%= @message %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>