<div class="row reset-padding">
  <div class="content-wrapper">
    <div class="header-wrapper">
      <h4>
        Parties
      </h4>
    </div>
    <div class="content-body-wrapper secondary-color full-content-wrapper">
      <div class="row actions-button">
        <%= link_to new_inventory_party_path, class: 'btn btn-default pull-right', remote: true do %>
            <i class="fa fa-plus-circle"></i> Add New Party
        <% end %>
        <%= form_tag import_inventory_parties_path, multipart: true, class: 'search-form' do %>
            <%= file_field_tag :file, class: 'form-control' %>
            <%= submit_tag "Upload Party", class: 'btn btn-info' %>
        <% end %>
      </div>
      <div class="row content-body">
        <table id="party" class="searchable-table table beaccount-table action-table table-responsive table-hover table-striped">
          <thead>
          <tr>
            <th>Name</th>
            <th>Company</th>
            <th>City</th>
            <th>Phone</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <% @parties.each do |party| %>
              <%= render 'party_row', party: party %>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $('#party').DataTable({
        "bSort": false,
        "paginationType": "bootstrap",
        "pagingType": "full_numbers",
        "sPaginationType": "bootstrap"
    });
</script>