<% if params[:purchase_order].present? %>
    $('#party-company').html(": <%= @party.company %>");
    $('#party-address').html(": <%= @party.address %>");
    $('#party-phone').html(": <%= @party.phone %>");
    $('#party-email').html(": <%= @party.email %>");
<% elsif params[:supplier_payment].present? %>
    $('#supplier-payable-amount').html("<%= amount = @party.in_balance - @party.out_balance %>");
    $('#inventory_suppliers_payment_amount').val(<%= amount %>);
    $('#inventory_suppliers_payment_discount').val(0);
    $('#inventory_suppliers_payment_total').val(<%= amount %>);
<% elsif params[:customer_payment].present? %>
    $('#customer-payable-amount').html("<%= amount = @party.out_balance - @party.in_balance %>");
    $('#inventory_customers_payment_amount').val(<%= amount %>);
    $('#inventory_customers_payment_discount').val(0);
    $('#inventory_customers_payment_total').val(<%= amount %>);
<% else %>
    $('#global-modal').modal({backdrop: 'static', keyboard: false});
    $('#global-modal').modal('show').find('.modal-content').html("<%= escape_javascript(render 'party_detail').html_safe %>");
<% end %>