<%= form_for @product_replacement,  html:{id: 'product-replacement-form'} do |f| %>
    <div class="col-md-12 reset-padding">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :product_id, 'Product' %>
          <%= f.select :product_id, options_for_select(Inventory::Product.all.collect{ |product| [product.name, product.id]}, f.object.product_id), {prompt: "Select Product..."}, {class:'form-control custom-chosen replacement-product-select'}  %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :party_id, 'Send To' %>
          <%= f.select :party_id, options_for_select(Inventory::Party.active.collect{ |party| [party.name, party.id]}, f.object.party_id), {prompt: "Select Party..."}, {class:'form-control custom-chosen', id: 'replacement-party-select'}  %>
        </div>
      </div>
    </div>
    <div class="col-md-12 reset-padding">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :quantity %>
          <%= f.text_field :quantity, class: "form-control" %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :date %>
          <%= f.text_field :date, class: "form-control" %>
        </div>
      </div>
    </div>
    <div class="col-md-12 reset-padding">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :tracking_no %>
          <%= f.text_field :tracking_no, class: "form-control" %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :note %>
          <%= f.text_area :note, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="pull-right">
        <%= f.submit @product_replacement.new_record? ? 'Create Replacement Order' : 'Update Replacement Order', class: 'btn btn-primary' %>
      </div>
    </div>
<% end %>


<script type="text/javascript">
  $(function(){
      $('#inventory_product_replacement_date').datetimepicker({
          format: 'YYYY-MM-DD'
      });
  });
</script>