<%= render 'shared/modal_header', title: 'Product Replacement Detail' %>

<div class="modal-body">
  <h4>Product Name</h4>
  <%= @product_replacement.product.name %>
  <h4>Product Quantity</h4>
  <%= @product_replacement.quantity %>
  <h4>Send To</h4>
  <%= @product_replacement.party.name if @product_replacement.party.present? %>
  <h4>Date</h4>
  <%= date_format_1 @product_replacement.date %>
  <% if @product_replacement.receive_date.present? %>
      <h4>Status</h4>
      <%= 'Replaced' %>
      <h4>Receive Date</h4>
      <%= date_format_1 @product_replacement.receive_date %>
  <% else %>
      <h4>Status</h4>
      <%= 'Pending' %>
  <% end %>
  <h4>Note</h4>
  <%= @product_replacement.note %>
</div>

<div class="modal-footer clearfix">
  <div class="pull-right">
    <div class='btn btn-default' data-dismiss="modal">Close</div>
  </div>
</div>