<tr>
  <td><%= product_replacement.product.name %></td>
  <td><%= product_replacement.tracking_no %></td>
  <td><%= product_replacement.quantity %></td>
  <td><%= product_replacement.party.name if product_replacement.party.present? %></td>
  <td><%= date_format_1 product_replacement.date %></td>
  <td><%= date_format_1 product_replacement.receive_date %></td>
  <td><%= product_replacement.receive_date.present? ? 'Replaced' : 'Pending' %></td>
  <td>
    <% if product_replacement.receive_date.present? %>
        <%= link_to 'reject', reject_product_inventory_product_replacement_path(product_replacement), data: {confirm: "Are you sure you want to reject the replacement?"} %>
    <% else %>
        <%= link_to 'receive', receive_inventory_product_replacement_path(product_replacement), data: {confirm: "Are you sure you want to receive the replacement?"} %>
    <% end %>
    <%= link_to inventory_product_replacement_path(product_replacement), class: 'btn info-color', remote: true do %>
        <i class="fa fa-eye"> </i>
    <% end %>
    <%= link_to edit_inventory_product_replacement_path(product_replacement), class: 'btn warning-color' do %>
        <i class="fa fa-pencil"> </i>
    <% end %>
    <%= link_to inventory_product_replacement_path(product_replacement), method: :delete, class: 'btn danger-color', data: {confirm: "Are you sure?"} do %>
        <i class="fa fa-times"> </i>
    <% end %>
  </td>
</tr>