<div class="row reset-padding">
  <div class="content-wrapper">
    <div class="header-wrapper">
      <h4>
        Product Replacements
      </h4>
    </div>
    <div class="content-body-wrapper secondary-color full-content-wrapper">
      <div class="row actions-button">
        <div class="col-md-6 reset-padding">
          <%= form_tag '', method: 'get', id: 'daterange-withdraws-form' do %>
              <%= text_field_tag :daterange, '', value: params[:daterange], class: 'form-control' %>
          <% end %>
        </div>
        <div class="col-md-6 reset-padding">
          <%= link_to new_inventory_product_replacement_path, class: 'btn btn-default pull-right' do %>
              <i class="fa fa-plus-circle"></i> Create Product Replacement
          <% end %>
        </div>
      </div>
      <div class="row content-body">
        <table id="replacement" class="searchable-table table beaccount-table action-table table-responsive table-hover table-striped">
          <thead>
          <tr>
            <th>Product Name</th>
            <th>Tracking No</th>
            <th>Product Quantity</th>
            <th>Send To</th>
            <th>Date</th>
            <th>Rcv Date</th>
            <th>Status</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <% @product_replacements.each do |replacement| %>
              <%= render 'replacement_row', product_replacement: replacement %>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
    $('#replacement').DataTable({
        "bSort": false,
        "paginationType": "bootstrap",
        "pagingType": "full_numbers",
        "sPaginationType": "bootstrap"
    });

    var options = {
        showDropdowns: true,
        locale: {
            format: 'YYYY-MM-DD',
            separator: ' To '
        }
    };
    $(function () {
        if (!<%= params[:daterange].present? %>) {
            options.startDate = "<%= Date.today.beginning_of_month %>";
            options.endDate = "<%= Date.today.end_of_month %>";
        }

        $('#daterange').daterangepicker(options).on('apply.daterangepicker', function (ev, picker) {
            $('#daterange-withdraws-form').submit();
        });
    });
    });
</script>