<%= form_for @payment, html:{id: 'customer-payment-form'} do |f| %>
    <div class="form-group">
      <%= f.label :party_id %>
      <%= f.select :party_id, options_for_select(active_parties.collect{|party| [party.name, party.id]}, f.object.party_id), {prompt: "Select Party..."}, {class:'form-control custom-chosen', id:'customer-payment-party-select'} %>
    </div>
    <div class="col-md-12 reset-padding">
      <div class="col-md-6 reset-padding">
        <div class="form-group">
          <%= f.label :amount %>
          <%= f.text_field :amount, class: "form-control" %>
        </div>
      </div>
      <div class="col-md-6 reset-padding pl20">
        <div class="form-group">
          <%= f.label :discount %>
          <%= f.text_field :discount, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="col-md-12 reset-padding">
      <div class="col-md-6 reset-padding">
        <div class="form-group">
          <%= f.label :total %>
          <%= f.text_field :total, class: "form-control" %>
        </div>
      </div>
      <div class="col-md-6 reset-padding pl20">
        <div class="form-group">
          <%= f.label :date %>
          <%= f.text_field :date, value: Date.today, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="col-md-12 reset-padding">
      <div class="col-md-6 reset-padding">
        <div class="form-group">
          <%= f.label :method, 'Payment Method' %>
          <%= f.select :method, options_for_select(AppSetting::PAYMENT_TYPES.collect{|k,v| [v, v]}, f.object.method), {}, {class:'form-control', id:'customer-payment-method-select'} %>
        </div>
      </div>
      <div class="col-md-6 reset-padding pl20 cheque-data">
        <div class="form-group">
          <%= f.label :bank_name %>
          <%= f.text_field :bank_name, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="col-md-12 reset-padding">
      <div class="col-md-6 reset-padding cheque-data">
        <div class="form-group">
          <%= f.label :cheque_no %>
          <%= f.text_field :cheque_no, class: "form-control" %>
        </div>
      </div>
      <div class="col-md-6 reset-padding pl20 cheque-data">
        <div class="form-group">
          <%= f.label :value_date %>
          <%= f.text_field :value_date, class: "form-control" %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :note %>
      <%= f.text_area :note, class: "form-control" %>
    </div>

    <div class="pull-right">
      <%= f.submit class: 'btn btn-primary' %>
    </div>
<% end %>

<script type="text/javascript">
    $(function () {
        $('#inventory_customers_payment_date, #inventory_customers_payment_value_date').datetimepicker({
            format: 'YYYY-MM-DD'
        });

        $('#customer-payment-party-select').change(function () {
            $.ajax({
                url: '/inventory/parties/' + $(this).val(),
                type: 'get',
                dataType: 'script',
                data: {customer_payment: 'yes'}
            });
        });

        <% unless @payment.new_record? %>
            <% if @payment.method.present? && @payment.method == AppSetting::PAYMENT_TYPES[:cheque] %>
                $('.cheque-data').show();
            <% end %>
            <% if @payment.party.present? %>
                $('#customer-payable-amount').html("<%= @payment.party.out_balance - @payment.party.in_balance %>");
            <% end %>
        <% end %>

        $('#customer-payment-method-select').change(function () {
            if ($(this).val() == 'Cheque') {
                $('.cheque-data').show();
            }
            else {
                $('.cheque-data').hide();
                $('#inventory_customers_payment_bank_name').val('');
                $('#inventory_customers_payment_cheque_no').val('');
                $('#inventory_customers_payment_value_date').val('');
            }
        });
    });

    $(document).off('keyup', '#inventory_customers_payment_amount').on('keyup', '#inventory_customers_payment_amount', function () {
        reset_total($(this).val(), $('#inventory_customers_payment_discount').val());
    });

    $(document).off('keyup', '#inventory_customers_payment_discount').on('keyup', '#inventory_customers_payment_discount', function () {
        reset_total($('#inventory_customers_payment_amount').val(), $(this).val());
    });

    function reset_total(amount, discount) {
        if (amount == '') {
            amount = 0;
        }

        if (discount == '') {
            discount = 0;
        }

        $('#inventory_customers_payment_total').val(amount - discount);
    }
</script>