<div class="col-md-12">
  <h4>Party Status</h4>
  <div class="col-md-12 reset-padding">
    <div class="col-md-7 reset-padding">
      <%= label_tag 'Amount Receivable: ' %>
    </div>
    <div class="col-md-5 reset-padding">
      <p id="customer-payable-amount" class="pull-right" style="font-weight: bold"><%= amount %></p>
    </div>
  </div>
</div>