<div class="row content-body">
  <table id="payment" class="table beaccount-table action-table table-responsive table-hover table-striped">
    <thead>
    <tr>
      <th>Party Name</th>
      <th>Amount</th>
      <th>Date</th>
      <th>Method</th>
      <th></th>
    </tr>
    </thead>
    <tfoot>
    <tr>
      <th colspan="1" style="text-align:right">Total:</th>
      <th colspan="4"><%= @payments.sum(:total) %></th>
    </tr>
    </tfoot>
    <tbody>
    <% @payments.each do |payment| %>
        <%= render 'payment_row', payment: payment %>
    <% end %>
    </tbody>
  </table>
</div>