<div class="row content-body">
  <table id="payment" class="table beaccount-table action-table table-responsive table-hover table-striped">
    <thead>
    <tr>
      <th>Party Name</th>
      <th>Amount</th>
      <th>Date</th>
      <th>Method</th>
      <th></th>
    </tr>
    </thead>
    <tfoot>
    <tr>
      <th colspan="1" style="text-align:right">Total:</th>
      <th></th>
    </tr>
    </tfoot>
    <tbody>
    <% @payments.each do |payment| %>
        <tr>
          <td><%= payment.party.name if payment.party.present? %></td>
          <td><%= payment.amount %></td>
          <td><%= date_format_1 payment.date %></td>
          <td><%= payment.method %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>