<div class="row reset-padding">
  <div class="content-wrapper">
    <div class="header-wrapper">
      <h4>
        Customer Payments
      </h4>
    </div>
    <div class="content-body-wrapper secondary-color full-content-wrapper">
      <div class="row actions-button">
        <div class="col-md-6 reset-padding">
          <%= form_tag '', method: 'get' do %>
              <div class="col-sm-5">
                <%= text_field_tag :daterange, '', value: params[:daterange], class: 'form-control' %>
              </div>
              <div class="col-sm-5">
                <%= select_tag :party_id, options_for_select(current_department.parties.collect{|party| [party.name, party.id]}, params[:party_id]), {prompt: "Select Party...",class:'form-control custom-chosen'} %>
              </div>
              <div class="col-sm-2"><%= submit_tag 'Search', class: 'btn btn-default' %></div>
          <% end %>
        </div>

        <div class="col-md-6 reset-padding">
          <div class="col-sm-6 pull-right">
            <%= label_tag :export_to, class: 'custom-dropdown' do %>
                <%= select_tag :export_to, options_for_select(['PDF', 'EXCEL']), {prompt: 'Export To', class: 'export-to btn btn-default'} %>
            <% end %>
          </div>
          <div class="col-sm-6">
            <%= link_to new_inventory_customers_payment_path, class: 'btn btn-default pull-right' do %>
                <i class="fa fa-plus-circle"></i> Add New Customer Payment
            <% end %>
          </div>
        </div>
      </div>
      <div class="row content-body">
        <table id="payment" class="table beaccount-table action-table table-responsive table-hover table-striped">
          <thead>
          <tr>
            <th>Party Name</th>
            <th>Amount</th>
            <th>Date</th>
            <th>Method</th>
            <th></th>
          </tr>
          </thead>
          <tfoot>
          <tr>
            <th colspan="1" style="text-align:right">Total:</th>
            <th></th>
          </tr>
          </tfoot>
          <tbody>
          <% @payments.each do |payment| %>
              <%= render 'payment_row', payment: payment %>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {

        $('#export_to').change(function () {
            var export_to = $(this).val();
            if (export_to == 'PDF') {
                window.location.href = '<%= inventory_customers_payments_path('pdf', params) %>'
            }
            else if (export_to == 'EXCEL') {
                window.location.href = '<%= inventory_customers_payments_path('xls', params) %>'
            }
        });

        $('#payment').DataTable({
            "bSort": false,
            "paginationType": "bootstrap",
            "pagingType": "full_numbers",
            "sPaginationType": "bootstrap",
            "footerCallback": function ( row, data, start, end, display ) {
                var api = this.api(), data;

                // Remove the formatting to get integer data for summation
                var intVal = function ( i ) {
                    return typeof i === 'string' ?
                    i.replace(/[\$,]/g, '')*1 :
                            typeof i === 'number' ?
                                    i : 0;
                };

                // Total over all pages
                total = api
                        .column( 1 )
                        .data()
                        .reduce( function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0 );

                // Total over this page
                pageTotal = api
                        .column( 1, { page: 'current'} )
                        .data()
                        .reduce( function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0 );

                // Update footer
                $( api.column( 1 ).footer() ).html(
                        ''+pageTotal +' ( '+ total +' total)'
                );
            }
        });

        var options = {
            showDropdowns: true,
            locale: {
                format: 'YYYY-MM-DD',
                separator: ' To '
            }
        };
        $(function () {
            if (!<%= params[:daterange].present? %>) {
                options.startDate = "<%= Date.today.beginning_of_month %>";
                options.endDate = "<%= Date.today.end_of_month %>";
            }

            $('#daterange').daterangepicker(options).on('apply.daterangepicker', function (ev, picker) {
                $('#daterange-withdraws-form').submit();
            });
        });
    });

</script>