<tr id="product-category-<%= product_category.id %>">
  <td><%= product_category.name %></td>
  <td><%= truncate(product_category.description, length: 60) %></td>
  <td>
    <a data-toggle="collapse" data-target="#sub-categories-of-<%= product_category.id %>" class="accordion-toggle"> Sub Categories </a>
    <%= link_to inventory_product_category_path(product_category), class: 'btn info-color', remote: true do %>
        <i class="fa fa-eye"></i>
    <% end %>
    <%= link_to edit_inventory_product_category_path(product_category), class: 'btn warning-color', remote: true do %>
        <i class="fa fa-pencil-square-o"></i>
    <% end %>
    <%#= link_to inventory_product_category_path(product_category), method: :delete, class: 'btn danger-color', data: {confirm: "Are you sure?"}, remote: true do %>
        <!--<i class="fa fa-times"> </i>-->
    <%# end %>
  </td>
</tr>