<%= form_for @product_category, remote: true, html:{ class:'form-vertical', id: 'product-category-form'} do |f| %>
    <% title = '' %>
    <% if product_category_id.present? %>
        <% title = @product_category.new_record? ? 'Create new product subcategory' : 'Edit product subcategory' %>
    <% else %>
        <% title = @product_category.new_record? ? 'Create new product category' : 'Edit product category' %>
    <% end %>
    <%= render 'shared/modal_header', title: title %>
    <div class="modal-body">
      <div class="form-group">
        <%= f.label "Name*", class: 'control-label', for: 'name' %>
        <%= f.text_field :name, class: "form-control", id: 'name' %>
      </div>
      <div class="form-group">
        <%= f.label :description, class: 'control-label', for: 'description' %>
        <%= f.text_area :description, class: "form-control", id: 'description' %>
      </div>
      <% if product_category_id.present? %>
          <%= f.hidden_field :category_id, :value => params[:product_category_id] %>
      <% end %>
    </div>

    <div class="modal-footer clearfix">
      <div class="pull-right">
        <%= f.submit class: 'btn btn-primary' %>
        <div class='btn btn-default' data-dismiss="modal">Close</div>
      </div>
    </div>
<% end %>
