<%= render 'shared/modal_header', title: @product_category.category_id.present? ? 'Product Sub Category Detail' : 'Product Category Detail' %>

<div class="modal-body">
  <h4>Name</h4>
  <%= @product_category.name %>
  <% if @product_category.category_id.present? %>
      <h4>Category</h4>
      <%= @product_category.category.name %>
  <% end %>
  <h4>Description</h4>
  <%= @product_category.description %>
</div>

<div class="modal-footer clearfix">
  <div class="pull-right">
    <div class='btn btn-default' data-dismiss="modal">Close</div>
  </div>
</div>