<tr id="product-sub-category-<%= product_sub_category.id %>">
  <td><%= product_sub_category.name %></td>
  <td><%= truncate(product_sub_category.description, length: 60) %></td>
  <td>
    <%= link_to inventory_product_category_path(product_sub_category), class: 'btn info-color', remote: true do %>
        <i class="fa fa-eye"></i>
    <% end %>
    <%= link_to edit_inventory_product_category_path(product_sub_category, product_category_id: product_sub_category.category_id), class: 'btn warning-color', remote: true do %>
        <i class="fa fa-pencil-square-o"></i>
    <% end %>
    <%#= link_to inventory_product_category_path(product_sub_category), method: :delete, class: 'btn danger-color', data: {confirm: "Are you sure?"}, remote: true do %>
        <!--<i class="fa fa-times"> </i>-->
    <%# end %>
  </td>
</tr>