<tr class="inner-table-placement">
  <td colspan="3" style="text-align: left;" class="hidden-row">
    <div class="accordian-body collapse p30" id="sub-categories-of-<%= product_category.id %>">
        <div class="col-md-6 reset-padding">
          <h4 style="font-weight: bold">Sub Categories of "<%= product_category.name %>"</h4>
        </div>
        <div class="col-md-6 reset-padding">
          <%= link_to new_inventory_product_category_path(product_category_id: product_category.id), remote: true, class: 'btn btn-default pull-right inner-table-link' do %>
              <i class="fa fa-plus"> </i> New Sub Category
          <% end %>
        </div>
        <table class="searchable-table table inner-table action-table table-responsive table-striped">
          <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th></th>
          </tr>
          </thead>
          <tbody id="product-sub-category-table-body">
          <% product_category.sub_categories.each do |product_sub_category| %>
              <%= render 'sub_category_row', product_sub_category: product_sub_category %>
          <% end %>
          </tbody>
        </table>
    </div>
  </td>
</tr>