<% if @product_category.errors.present? %>
    popupMessage('Unable to create new category, Please check your data and try again', 'alert-danger');
<% else %>
    <% if @product_category.category_id.present? %>
        popupMessage('Subcategory successfully created', 'alert-success');
        $('#sub-categories-of-<%= @product_category.category_id %>').find('#product-sub-category-table-body').append("<%= escape_javascript(render 'sub_category_row', product_sub_category: @product_category).html_safe %>");
    <% else %>
        popupMessage('Category successfully created', 'alert-success');
        $('#product-category-table-body').append("<%= escape_javascript(render 'category_row', product_category: @product_category).html_safe %>");
        $('#product-category-table-body').append("<%= escape_javascript(render 'sub_categories', product_category: @product_category).html_safe %>");
        $('.accordian-body').on('show.bs.collapse', function () {
            $(this).closest("table")
                    .find(".collapse.in")
                    .not(this)
                    .collapse('toggle')
        });
    <% end %>
    $('#global-modal').modal('hide');
<% end %>