<% if @product_category.errors.any? %>
    popupMessage('Unable to delete category, Please try again later', 'alert-danger');
<% else %>
    <% if @product_sub_category_id.present? %>
        popupMessage('Subcategory successfully deleted', 'alert-info');
        $('#sub-categories-of-<%= @product_category_id %>').find('#product-sub-category-table-body').find('#product-sub-category-<%= @product_sub_category_id %>').remove();
    <% else %>
        popupMessage('Category successfully deleted', 'alert-info');
        $('#product-category-<%= @product_category_id %>').remove();
        $('#sub-categories-of-<%= @product_category_id %>').remove();
    <% end%>
    $('#global-modal').modal('hide');
<% end%>