$('#global-modal').modal({backdrop: 'static', keyboard: false});
$('#global-modal').modal('show').find('.modal-content').html("<%= escape_javascript(render 'form', product_category_id: params[:product_category_id].present? ? params[:product_category_id] : nil).html_safe %>");