<div class="row reset-padding">
  <div class="content-wrapper">
    <div class="header-wrapper">
      <h4>
        Product Categories
      </h4>
    </div>
    <div class="content-body-wrapper secondary-color full-content-wrapper">
      <div class="row actions-button">
        <%= link_to new_inventory_product_category_path, class: 'btn btn-default pull-right', remote: true do %>
            <i class="fa fa-plus-circle"></i> Add New Category
        <% end %>
      </div>
      <div class="row content-body">
        <table id="product-category" class="searchable-table table beaccount-table action-table table-responsive table-striped" style="border-collapse:collapse;">
          <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th></th>
          </tr>
          </thead>
          <tbody id="product-category-table-body">
          <% @product_categories.each do |product_category| %>
              <%= render 'category_row', product_category: product_category %>
              <%= render 'sub_categories', product_category: product_category %>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(function () {
        $('.accordian-body').on('show.bs.collapse', function () {
            $(this).closest("table")
                    .find(".collapse.in")
                    .not(this)
                    .collapse('toggle')
        });
    });
</script>