<% if @product_sub_categories.present? %>
    $("#inventory_product_sub_category").find('option:gt(0)').remove();
    $('.product-sub-category').show();
    <% @product_sub_categories.each do |sub_category| %>
        $("#inventory_product_sub_category").append("<option value=<%= sub_category.id %>> <%= sub_category.name %></option>");
    <% end %>
<% else %>
    $("#inventory_product_sub_category").find('option:gt(0)').remove();
    $('.product-sub-category').hide()
<% end %>