<% if @product_category.errors.present? %>
    popupMessage('Unable to update category, Please check your data and try again', 'alert-danger');
<% else %>
    <% if @product_category.category_id.present? %>
        popupMessage('Subcategory successfully updated', 'alert-info');
        $('#sub-categories-of-<%= @product_category.category_id %>').find('#product-sub-category-table-body').find('#product-sub-category-<%= @product_category.id %>').replaceWith("<%= escape_javascript(render 'sub_category_row', product_sub_category: @product_category).html_safe %>");
    <% else %>
        popupMessage('Category successfully updated', 'alert-info');
        $('#product-category-<%= @product_category.id %>').replaceWith("<%= escape_javascript(render 'category_row', product_category: @product_category).html_safe %>");
    <% end %>
    $('#global-modal').modal('hide');
<% end %>