<div class="row reset-padding">
  <div class="content-wrapper">
    <div class="header-wrapper">
      <h4>
        Deposit Categories
      </h4>
    </div>
    <div class="content-body-wrapper secondary-color full-content-wrapper">
      <div class="row actions-button">
        <%= link_to new_inventory_deposit_category_path, class: 'btn btn-default pull-right', remote: true do %>
            <i class="fa fa-plus-circle"></i> Add New Category
        <% end %>
      </div>
      <div class="row content-body">
        <table class="table beaccount-table action-table table-responsive table-hover table-striped">
          <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Balance</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <% @deposit_categories.each do |category| %>
              <%= render 'category_row', category: category %>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>