<%= render 'shared/modal_header', title: 'Deposit Detail' %>

<div class="modal-body">
  <h4>Category</h4>
  <%= @deposit.deposit_category.name if @deposit.deposit_category.present? %>
  <h4>Amount</h4>
  <%= @deposit.amount %>
  <h4>Date</h4>
  <%= date_format_1 @deposit.date %>
  <h4>Balance</h4>
  <%= date_format_1 @deposit.date %>
  <h4>Note</h4>
  <%= @deposit.note %>
</div>

<div class="modal-footer clearfix">
  <div class="pull-right">
    <div class='btn btn-default' data-dismiss="modal">Close</div>
  </div>
</div>