<tr>
  <td><%= deposit.deposit_category.name if deposit.deposit_category.present? %></td>
  <td><%= number_with_delimiter(deposit.amount, :delimiter => ',') %></td>
  <td><%= date_format_1 deposit.date %></td>
  <td>
    <%= link_to inventory_deposit_path(deposit), class: 'btn info-color', remote: true do %>
        <i class="fa fa-eye"> </i>
    <% end %>
    <%= link_to edit_inventory_deposit_path(deposit), class: 'btn warning-color', remote: true do %>
        <i class="fa fa-pencil"> </i>
    <% end %>
    <%= link_to inventory_deposit_path(deposit), method: :delete, class: 'btn danger-color', data: {confirm: "Are you sure?"} do %>
        <i class="fa fa-times"> </i>
    <% end %>
  </td>
</tr>