<%= form_for @deposit,  html:{ class:'form-vertical', id: 'deposit-form'} do |f| %>
    <%= render 'shared/modal_header', title: @deposit.new_record? ? 'Add New Deposit' : 'Edit Deposit' %>

    <div class="modal-body">
      <div class="form-group">
        <%= f.label :deposit_category_id, 'Category' %>
        <%= f.select :deposit_category_id, options_for_select(@deposit_categories.collect{ |category| [category.name, category.id]}, f.object.deposit_category_id), {prompt: "Select Category..."}, {class:'form-control deposit-category-change'}  %>
      </div>
      <div class="form-group">
        <%= f.label :amount %>
        <%= f.text_field :amount, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :date %>
        <%= f.text_field :date, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :note %>
        <%= f.text_area :note, class: "form-control" %>
      </div>
    </div>

    <div class="modal-footer clearfix">
      <div class="pull-right">
        <%= f.submit class: 'btn btn-primary' %>
        <div class='btn btn-default' data-dismiss="modal">Close</div>
      </div>
    </div>
<% end %>

<script type="text/javascript">
    $(function () {
        $('#inventory_deposit_date').datetimepicker({
            format: 'YYYY-MM-DD'
        });
    });
</script>