// Place all the styles related to the employees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.auth-form-wrapper {
  margin: auto;
  max-width: 400px;
  background: #fdfdfd;
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 10px 15px;
}