// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cashbook-table {
  border: 1px solid #d7d7d7;
  margin-bottom: 20px !important;
}

.cal-balance {
  border: 1px solid #d7d7d7;
  padding: 30px !important;
}
//
//.cashbook-thead {
//  border: 1px solid #d7d7d7;
//}
//
//.cashbook-tbody {
//  border: 1px solid #d7d7d7;
//}