$menu-color: #fff;
$menu-bg-color: #074e66;
$menu-hover-bg-color: #0c6a85;
$icon-color: #00a5df;

.main-menu {
  //font-family: 'Work Sans';
  background: $menu-bg-color;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      float: left;
      position: relative;
      a {
        display: block;
        color: #fff;
        text-align: center;
        padding: 12px 16px;
        text-decoration: none;
        letter-spacing: 1px;
        font-size: 14px;
        //text-transform: uppercase;
      }
    }
  }
  .menu-content {

  }
}

.main-menu ul > li {
  //border-right: solid 1px #0C6A85;
  a {
    &:hover {
      background: $menu-hover-bg-color;
    }
  }
}

.main-menu ul.top-menu-dropdown-content li {
  border-right: none;
  a {
    &:hover {
      background: $menu-hover-bg-color;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
    }
  }
  &:last-child {
    a {
      &:hover {
        -webkit-border-radius: 0 0 10px 10px;
        -moz-border-radius: 0 0 10px 10px;
        border-radius: 0 0 10px 10px;
      }
    }
  }
}

.top-menu-dropdown:hover {
  background: $menu-hover-bg-color;
  border-radius: 0;
}

.top-menu-dropdown-content {
  background: #074E66;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  display: none;
  min-width: 180px;
  position: absolute;
  z-index: 3;
  hr {
    margin: 2px 0;
  }
  &.last-dropdown {
    right: 0;
  }
  &.dropdown-large {
    min-width: 245px;
  }
}

.top-menu-dropdown-activated {
  background: #31B0D5;
}

.last-dropdown {
  right: 0;
}

.top-menu-dropdown:hover .top-menu-dropdown-content {
  display: block;
}

.top-menu-dropdown ul > li {
  display: block;
  float: none;
}

.top-menu-dropdown ul > li a {
  text-align: left;
  padding: 9px 14px;
}

/* responsive header menu design  */

.mobile-menu {
  display: none;
}

.desktop-menu {
  display: block;
}

@media (max-width: 850px) {
  .mobile-menu {
    display: block;
  }
  .desktop-menu {
    display: none;
    & > li {

    }
  }
}