@import "public_attributes";

.primary-color {
  color: $primary-color;
}

.primary-color-bg {
  background-color: $primary-color;
}

.hover-color {
  color: $hover-color;
}

.hover-color-bg {
  background-color: $hover-color;
}

.guest-color {
  color: $guest-color;
}

.guest-color-bg {
  background-color: $guest-color;
}

.secondary-guest-color {
  color: $secondary-guest-color;
}

.secondary-guest-color-bg {
  background-color: $secondary-guest-color;
}

.default-background {
  background-color: $default-background;
}

.secondary-color {
  background: $secondary-color;
}

.info-color {
  color: $info-color;
}

.warning-color {
  color: $warning-color;
}

.danger-color {
  color: $danger-color;
}

.success-color {
  color: $success-color;
}

.global-header {
  position: relative;
}

.reset-padding {
  padding: 0 !important;
}

.reset-right-border {
  border-right: none;
}

.reset-margin {
  margin: 0 !important;
}

.reset-border-redius {
  border-radius: inherit !important;
}

.custom-input {
  height: 40px !important;
}

.custom-button {
  padding-left: 25px !important;
  padding-right: 25px !important;
}

.site-header {
  background: #fdfdfd none repeat scroll 0 0;
  border-bottom: 1px solid #ddd;
  padding: 20px;
  h1, h2, h3, h4, h5 {
    font-weight: bold;
    margin: 10px;
  }
}

.custom-export-to {
  width: 130px !important;
}

.custom-label {
  margin-top: 5px;
  min-width: 90px;
}

.site-header-table {
  width: 100%;
}

* {
  outline: none !important;
}

.panel-heading {
  padding: 5px 15px 10px;
  h4 {
    margin: 10px 0 0;
  }
}

body {
  background: $secondary-color;
}

body.registrations.new, body.registrations.create {
  background: $secondary-color;
}

.site-container {
  margin-top: 45px;
  min-height: calc(100vh - 105px);
}

.actions {
  a {
    padding: 2px 5px;
  }
}

.action-table {
  tbody {
    tr {
      td {
        &:last-child {
          text-align: right;
          a {
            padding: 2px 5px;
          }
        }
      }
    }
  }
}

.beaccount-table {
  margin-bottom: 0px;
  thead {
    background: $primary-color;
    color: $default-background;
    tr {
      th {
        font-size: 13px;
        padding: 8px 8px;
      }
    }
  }
  tbody {
    tr {
      td {
        padding: 5px 5px 0px 10px;
        .btn {
          padding: 3px 3px !important;
        }
      }
    }
  }

  .actions {
    width: 120px;
    padding: 2px;
  }
}

.custom-link-text {
  font-size: 15px;
  line-height: 25px;
  a {
    color: #5a5a5a;
    text-decoration: none;
    i {
      margin-right: 8px;
    }
    &:hover {
      color: $hover-color;
    }
  }
}

.header-wrapper {
  background: $default-background;
  height: 60px;
  padding: 20px 0px 5px 0px;
  border-bottom: solid 1px #D1DBE3;
  h4 {
    margin: auto;
    max-width: 1000px;
    font-weight: bold;
  }
}

.content-body-wrapper {
  padding: 10px 0 30px 0;
  &.full-content-wrapper {
    display: table;
    width: 100%;
    height: calc(100vh - 165px) // Container height = (screen_height - top_header_height - footer_height)
  }
}

.content-body {
  margin: auto;
  max-width: 1000px;
  background: #fdfdfd;
  margin-top: 20px;
  padding: 10px 15px;
  border: solid 1px #D1DBE3;
  .form-vertical {
    max-width: 90%;
    margin: auto;
    padding: 20px 0 20px 0;
    label {
      font-weight: bolder;
      font-size: 15px;
      padding-bottom: 5px;
      color: #074E66;
    }
    input {
      padding-top: 5px;
      border-radius: 0;
      height: 40px;
    }
    textarea {
      border-radius: 0;
    }
  }
}

.report-content-body {
  margin: auto;
  //max-width: 1200px;
  background: #fdfdfd;
  margin-top: 20px;
  padding: 10px 15px;
  border: solid 1px #D1DBE3;
  .form-vertical {
    max-width: 90%;
    margin: auto;
    padding: 20px 0 20px 0;
    label {
      font-weight: bolder;
      font-size: 15px;
      padding-bottom: 5px;
      color: #074E66;
    }
    input {
      padding-top: 5px;
      border-radius: 0;
      height: 40px;
    }
    textarea {
      border-radius: 0;
    }
  }
}

.actions-button {
  max-width: 1000px;
  margin: auto;
  button {
    border-radius: 0px;
    color: #074E66;
    font-weight: bold;
  }
  .add-button {
    color: white;
    background: #57C40A;
  }
}

.current-department {
  background: white;
  a {
    color: #0C6A83 !important;
    text-decoration: none;
    &:hover {
      color: white !important;
    }
  }
  &:last-child {
    -webkit-border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    border-radius: 0px 0px 10px 10px;
  }
}

#product_id_chosen {
  width: 40% !important;
}

.search-form {
  text-align: left;
  margin: 10px 0;
  input, select {
    max-width: 220px;
    display: inline-block;
  }

  .chosen-container {
    max-width: 220px !important;
  }
}