$primary-color: #074e66;
$secondary-color: #FFFFFF;
$hover-color: #0c6a85;
$guest-color: #00BBEA;
$secondary-guest-color :#129894;
$default-background: #fdfdfd;
$info-color: #337AB7;
$warning-color: #F0AD4E;
$danger-color: #D9534F;
$success-color: #269339;
$default-background: #fdfdfd;
$default-background: #fdfdfd;
$default-background: #fdfdfd;