<% (0..200).each do |i| %>
    .p<%= i %> {
        padding: <%= i %>px !important;
    }

    .pt<%= i %> {
        padding-top: <%= i %>px !important;
    }

    .pl<%= i %> {
        padding-left: <%= i %>px !important;
    }

    .pr<%= i %> {
        padding-right: <%= i %>px !important;
    }

    .pb<%= i %> {
        padding-bottom: <%= i %>px !important;
    }

    .m<%= i %> {
        margin: <%= i %>px !important;
    }

    .mt<%= i %> {
        margin-top: <%= i %>px !important;
    }

    .ml<%= i %> {
        margin-left: <%= i %>px !important;
    }

    .mr<%= i %> {
        margin-right: <%= i %>px !important;
    }

    .mb<%= i %> {
        margin-bottom: <%= i %>px !important;
    }

    .fz<%= i %> {
        font-size: <%= i %>px !important;
    }

    .mx-w<%= i * 5 %> {
        max-width: <%= i * 5 %>px;
        display: inline-block;
    }

    .min-height-viewport-<%= i %> {
        min-height: <%= i %>vh !important;
    }
<% end %>