<%= form_for @expense_category, html:{ class:'form-vertical', id: 'expense-category-form'} do |f| %>
    <%= render 'shared/modal_header', title: @expense_category.new_record? ? 'Add New Category' : 'Edit Category' %>
    <div class="modal-body">
      <div class="form-group">
        <%= f.label "Name*", class: 'control-label', for: 'name' %>
        <%= f.text_field :name, class: "form-control", id: 'name' %>
      </div>
      <div class="form-group">
        <%= f.label :description, class: 'control-label', for: 'description' %>
        <%= f.text_area :description, class: "form-control", id: 'description' %>
      </div>
    </div>

    <div class="modal-footer clearfix">
      <div class="pull-right">
        <%= f.submit class: 'btn btn-primary' %>
        <div class='btn btn-default' data-dismiss="modal">Close</div>
      </div>
    </div>
<% end %>
