@import "public_attributes";
// Place all the styles related to the inventory/suppliers/orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sub-title {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  background: $primary-color;
  color: white;
  font-weight: bold;
}

.date-table {
  tbody {
    tr {
      td {
        padding: 0px !important;
      }
    }
  }
}

.note-height {
  height: 100px !important;
}