<!DOCTYPE html>
<html>
<head>
  <title>Tangail</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= wicked_pdf_stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= wicked_pdf_javascript_include_tag "application", "data-turbolinks-track" => true %>
  <style type="text/css">
      table {
          page-break-inside: auto !important;
      }

      thead {
          display: table-header-group !important;
      }

      tr {
          page-break-inside: avoid !important;
          page-break-after: auto !important;
      }

      td, th {
          page-break-inside: avoid !important;
      }
      table thead tr {
          page-break-inside: avoid;
      }
      table tbody tr {
          page-break-inside: avoid;
      }

      .table-responsive {
          overflow: visible !important;
      }
  </style>
</head>
<body>

<div class="container-fluid">

  <%= yield %>

</div>
</body>
</html>
