<%= render 'shared/modal_header', title: 'Withdraw Detail' %>

<div class="modal-body">
  <h4>Category</h4>
  <%= @withdraw.withdraw_category.name if @withdraw.withdraw_category.present? %>
  <h4>Amount</h4>
  <%= @withdraw.amount %>
  <h4>Date</h4>
  <%= date_format_1 @withdraw.date %>
  <h4>Balance</h4>
  <%= date_format_1 @withdraw.date %>
  <h4>Note</h4>
  <%= @withdraw.note %>
</div>

<div class="modal-footer clearfix">
  <div class="pull-right">
    <div class='btn btn-default' data-dismiss="modal">Close</div>
  </div>
</div>