<tr>
  <td><%= withdraw.withdraw_category.name if withdraw.withdraw_category.present? %></td>
  <td><%= number_with_delimiter(withdraw.amount, :delimiter => ',') %></td>
  <td><%= date_format_1 withdraw.date %></td>
  <td>
    <%= link_to inventory_withdraw_path(withdraw), class: 'btn info-color', remote: true do %>
        <i class="fa fa-eye"> </i>
    <% end %>
    <%= link_to edit_inventory_withdraw_path(withdraw), class: 'btn warning-color', remote: true do %>
        <i class="fa fa-pencil"> </i>
    <% end %>
    <%= link_to inventory_withdraw_path(withdraw), method: :delete, class: 'btn danger-color', data: {confirm: "Are you sure?"} do %>
        <i class="fa fa-times"> </i>
    <% end %>
  </td>
</tr>