<% total = 0.0 %>
<div class="row reset-padding">
  <div class="content-wrapper">
    <div class="header-wrapper">
      <h4>
        Withdraws
      </h4>
    </div>
    <div class="content-body-wrapper secondary-color full-content-wrapper">
      <div class="row actions-button">
        <div class="col-md-6 reset-padding">
          <%= form_tag '', method: 'get', id: 'daterange-withdraws-form' do %>
              <%= text_field_tag :daterange, '', value: params[:daterange], class: 'form-control' %>
          <% end %>
        </div>
        <div class="col-md-6 reset-padding">
          <%= link_to new_inventory_withdraw_path, class: 'btn btn-default pull-right', remote: true do %>
              <i class="fa fa-plus-circle"></i> Add New Withdraw
          <% end %>
        </div>
      </div>
      <div class="row content-body">
        <table id="withdraw" class="table beaccount-table action-table table-responsive table-hover table-striped">
          <thead>
          <tr>
            <th>Category</th>
            <th>Amount</th>
            <th>Date</th>
            <th></th>
          </tr>
          </thead>
          <tfoot>
          <tr>
            <th colspan="1" style="text-align:right">Total:</th>
            <th></th>
          </tr>
          </tfoot>
          <tbody>
          <% @withdraws.each do |withdraw| %>
              <% total += withdraw.amount %>
              <%= render 'withdraw_row', withdraw: withdraw %>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $('#withdraw').DataTable({
        "bSort": false,
        "paginationType": "bootstrap",
        "pagingType": "full_numbers",
        "sPaginationType": "bootstrap",
        "footerCallback": function ( row, data, start, end, display ) {
            var api = this.api(), data;

            // Remove the formatting to get integer data for summation
            var intVal = function ( i ) {
                return typeof i === 'string' ?
                i.replace(/[\$,]/g, '')*1 :
                        typeof i === 'number' ?
                                i : 0;
            };

            // Total over all pages
            total = api
                    .column( 1 )
                    .data()
                    .reduce( function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0 );

            // Total over this page
            pageTotal = api
                    .column( 1, { page: 'current'} )
                    .data()
                    .reduce( function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0 );

            // Update footer
            $( api.column( 1 ).footer() ).html(
                    ''+pageTotal +' ( '+ total +' total)'
            );
        }
    });
    var options = {
        showDropdowns: true,
        locale: {
            format: 'YYYY-MM-DD',
            separator: ' To '
        }
    };
    $(function () {
        if (!<%= params[:daterange].present? %>) {
            options.startDate = "<%= Date.today.beginning_of_month %>";
            options.endDate = "<%= Date.today.end_of_month %>";
        }

        $('#daterange').daterangepicker(options).on('apply.daterangepicker', function (ev, picker) {
            $('#daterange-withdraws-form').submit();
        });
    });
</script>